<div class="container">
  <div class="well"> 
    <div class="row">
      <div class="col-md-12">
        <div class="row hidden-md hidden-lg"><h1 class="text-center" ><%= @useful_article.title %></h1></div>  
          <div class="pull-left col-md-4 col-xs-12 thumb-contenido">
            <%= image_tag @useful_article.preview_url(:medium), class: 'center-block img-responsive' %>
            <br>
            <%= link_to 'Назад к статьям', useful_articles_path, class: 'btn btn-primary' %>
          </div>
         <div class="">
           <h1  class="hidden-xs hidden-sm"><%= @useful_article.title %></h1>
           <hr>
           <small><%= @useful_article.created_at.strftime("%B %dth, %Y") %></small><br>
           <small>
             <strong>
               <%= link_to user_path(@useful_article.user) do %>
                 <%= fa_icon 'user', text: "#{ @useful_article.user.full_name}" %>
               <% end %>
             </strong>
          </small>
           <%= social_share_button_tag(@useful_article.title) %>
           <hr>
           <p class="text-justify">
             <%= raw @useful_article.body %>
           </p>
        </div>
       </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div id="counter_comments_<%= @useful_article.id %>">
          <h3><%= count_comments %></h3>
        </div>
        <div id="comments_all">
          <%= render @comment_posts %>
        </div>
      </div> 
    </div>
    <div class="row comment-alert">
      <div class="col-md-8">
        <div class="alert"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <% if current_user %>
          <div class="col-md-12 col-xs-12">
            <%= render 'comment_posts/form' %>
          </div>
        <% else %>
          <div class="alert alert-warning">
            <p><%= t('reviews.warning_message') %> <%= link_to t('reviews.log_in'), new_user_session_path %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <center>
          <%= will_paginate @comment_posts, renderer: BootstrapPagination::Rails, previous_label: '<=', next_label:'=>' %>
        </center>
      </div>
    </div>
  </div>
</div>
