<h2>Редактировать профиль </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label(:first_name, "Имя" ) %><br />
    <%= f.text_field :first_name, id: :user_first_name %>
  </div>

  <div class="field">
    <%= f.label(:last_name, "Фамилия" ) %><br />
    <%= f.text_field :last_name, id: :user_last_name %>
  </div>

  <div class="field">
    <%= f.label(:email, "Эл. почта" ) %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label(:number, "Номер телефона" ) %><br />
    <%= f.text_field :number, id: :user_number, :required => true, :placeholder => "Обязательное поле" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Ожидаем подтверждения : <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label(:avatar, "Аватар" ) %><br />
    <%= f.file_field :avatar, id: :user_avatar %>
  </div>

  <div class="field">
    <%= f.label(:password, "Новый пароль" ) %> <i>(Оставьте пустым если не хотите менять)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> знаков минимум</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label(:password_confirmation, "Подтверждения пароля" ) %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label(:current_password, "Пароль" ) %> <i>(введите текущий пароль чтобы подтвердить изменения)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Отправить изменения" %>
  </div>
<% end %>

<h3>Удалить аккаунт</h3>

<p>Не нравится? <%= button_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Уверены?" }, method: :delete %></p>

<%= link_to "Назад", :back %>