<div class="well">
  <h2><center>Регистрация</center></h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-2 col-xs-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="row">
          <div class="field col-md-6 col-xs-6">
            <%= f.label(:first_name, "Имя" ) %><br>
            <%= f.text_field :first_name, id: :user_first_name, class: 'form-control', placeholder: 'Ваше имя' %>
          </div>
          <div class="field col-md-6 col-xs-6">
            <%= f.label(:last_name, "Фамилия" ) %><br>
            <%= f.text_field :last_name, id: :user_last_namee, class: 'form-control', placeholder: 'Ваша фамилия' %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="field col-md-6 col-xs-6">
            <%= f.label(:email, "Эл. почта" ) %><br>
            <%= f.email_field :email, autofocus: true, class: 'form-control', required: true, placeholder: 'Ваш email' %>
          </div>
          <div class="field col-md-6 col-xs-6">
            <%= f.label(:number, "Номер телефона" ) %><br>
            <%= f.text_field :number, id: :user_number, required: true, class: 'form-control', :placeholder => "Обязательное поле" %>
          </div>
        </div>
        <br>
        <div class="row">  
          <div class="field col-md-6">
            <p>
              <%= f.label(:password, "Пароль" ) %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> знаков минимум)</em>
              <% end %>
              <br>
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Введите пароль', required: true %>
            </p>
          </div>
          <div class="field col-md-6">
            <p>
              <%= f.label(:password_confirmation, "Подтверждения пароля" ) %>
              <br>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Подтвердите пароль', required: true %>
            </p>
          </div>
          <div class="col-md-12 col-xs-12">
            <p>Регистрируясь на сайте, вы соглашаетесь с
              <a type="button" data-toggle="modal" data-target="#conditions">пользовательским соглашением</a>
            </p>
            <%= render 'modal_condition' %>
          </div>
          <div class="col-md-6 col-xs-12">
            <p>
              <%= f.submit "Зарегистрироватся", class: 'btn btn-success' %>
            </p>
          </div> 
        </div>
      <% end %>
    </div>
    <div class="col-md-3 col-xs-12 well">
      <p>Если вы зарегистрированы в системе, вы можете <%= link_to "войти в свой аккаунт", new_session_path(resource_name) %></p>
      <center><h3>Или</h3></center>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
