<div class="row" id="comment_<%= comment.id %>">
  <div class="panel panel-white post panel-shadow col-md-8 col-xs-12 well comment_body_<%= comment.id %>">
    <div class="row comment-alert-<%= comment.id %> review-alert">
      <div class="alert alert-warning"></div>
    </div>
    <div class="post-heading">
      <div class="pull-left image">
        <%= image_tag comment.user.avatar_url(:thumb), class: "img-circle avatar" %>
      </div>
      <div class="pull-left meta">
        <div class="title h5">
          <b><%= link_to comment.user.full_name, user_path(comment.user) %></b>
        </div>
        <h6 class="text-muted time">
          <%= comment.created_at %>
        </h6>
      </div>
      <div class="pull-right">
        <% if current_user %>
          <% if current_user.id == comment.user_id %>
            <div class="stats">
              <div class="dropdown comment_<%= comment.id %>">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                  <%= fa_icon 'ellipsis-v', class: 'fa-2x ellipsis-button' %>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <%= link_to t('reviews.change_review'), edit_comment_path(comment), remote: true, id: 'edit_comment_post' %>
                  </li>
                  <li>
                    <%= link_to t('reviews.remove_a_review'), comment_path(comment), method: :delete, remote: true, data: { confirm: 'Вы действительно  хотите удалить этот комментарий?' } %>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div> 
    <div class="post-description" id="comment_text_<%= comment.id %>">
      <%= render 'comment_row', comment: comment %>
    </div>
  </div>
</div>
