<% title t("header_menu.reviews") %>
<h1><%= t("header_menu.reviews") %></h1>
<div class="container">
  <div class="all_comments">
    <%= render @comments %>
  </div>
  <div class="row comment-success-alert">
    <div class="col-md-6">
      <div class="alert alert-success">
        <%= raw t('reviews.success_message') %>
      </div>
    </div>
  </div>
  <div class="row">
    <% if current_user %>
      <%= render 'form' %>
    <% else %>
      <div class="col-md-6 alert alert-warning">
        <p><%= t('reviews.warning_message') %> <%= link_to t('reviews.log_in'), new_user_session_path %></p>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(function() {
    setTimeout(function(){ 
      $('.comment-success-alert').hide('fade');
    }, 5000);
  });
</script>
