<h1><%= t("header_menu.offers") %></h1>
<div class="container">
  <div class="col-md-12">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @shares.each_with_index do |share, i| %>
          <% if i==0 %>
            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
          <% else %>
            <li data-target="#carousel-example" data-slide-to="<%= i %>"></li>
          <% end %>
        <% end %>
      </ol>
      <div class="carousel-inner carousel-share">
        <% @shares.each_with_index do |share, i| %>
          <% if i==0 %>
            <div class="item active">
          <% else %>
            <div class="item">
          <% end %>
            <%= link_to share_path(share) do %>
              <%= image_tag(share.poster_url(:big_large), class: 'poster-carousel') %>
            <% end %>
            <div class="carousel-caption">
              <h2 class='share-h2-slider'><%= share.title %></h2>
              <p><%= raw share.body.truncate(100) %></p>
            </div>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#carousel-example" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
<br>
