<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Не получили подтверждения?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Не получили разблокировочных инструкций?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <div class="col-md-12 col-xs-12">
    <p>
      <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" do %>
        <%= fa_icon "facebook", class: "fa-2x", text: t('session.sign_in_with_facebook')  %>
      <% end %>
    </p>
  </div>
  <div class="col-md-12 col-xs-12">
    <p>
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-social btn-google" do %>
        <%= fa_icon "google", class: "fa-2x", text: "Sign in with Google"  %>
      <% end %>
    </p>
  </div>
<% end -%>
