<table class="table">
  <thead>
    <td>#</td>
    <td>Имя</td>
    <td>Номер телефона</td>
    <td>Комментарий</td>
    <td>Город</td>
    <td>Почтовое отделение</td>
    <td>Способ оплаты</td>
    <td>Заказы</td>
    <td>Действия</td>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.full_name %></td>
        <td><%= order.number %></td></td>
        <td><%= order.comment %></td>
        <td><%= order.city %></td>
        <td><%= order.post_office_number %></td>
        <td><%= order.pay_type %></td>
        <td>
          <ul>
            <% order.line_items.each do |line_item| %>
              <li>
                <%= line_item.product.title %>
                <%= line_item.price_discount %>
                <%= line_item.quantity %>
                <%= line_item.count_line_item_price %>
              </li>
            <% end %>
          </ul>
        </td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
