<!DOCTYPE html>
<html>
  <head>
    <title>Мапапама - Панель администратора</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

  </head>

  <body>
    <%= render 'shared/admin/header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <%- flash.each do |name, msg|%>
              <%= content_tag :div, msg, id: "flash_#{name}", class: 'alert alert-info message' %>
            <% end %>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>  
  </body>
</html>
