<div class="row">
  <div class="col-md-2 col-xs-4 col-sm-3">
    <%= image_tag @user.avatar_url(:medium), class: 'img-thumbnail profile-avatar' %>
  </div>
  <div class="col-md-5 col-xs-8 col-sm-9">
    <div class="well">
      <h3>
        <%= @user.full_name %>
        <% if current_user.id == @user.id %>
          <%= link_to edit_user_registration_path(@user) do %>
            <%= fa_icon 'pencil', title: t('profile.edit_profile') %>
          <% end %>
        <% end %>
      </h3>
      <p>
        <strong><%= t('profile.email') %></strong>
        <%= @user.email %>
      </p>
      <p>
        <strong><%= t('profile.number_phone') %></strong>
        <%= @user.number %>
      </p>
      <p>
        <strong><%= t('profile.role') %></strong>
        <% if @user.admin? %>
          <span class="label label-danger"><%= t('profile.admin') %></span>
        <% else %>
          <span class="label label-primary"><%= t('profile.user') %></span>
        <% end %>
      </p>
    </div>
  </div>
  <%= render 'order_list' %>
</div>
<%= render 'last_views' %>
