<h1>Полезные статьи</h1>
<div class="col-md-10 col-xs-12">
  <%= link_to 'Новая статья', new_admin_useful_article_path %>
  <br>
  <table class="table table-hover">
    <thead>
      <tr class='info'>
        <td>#</td>
        <td width="35%">Заголовок</td>
        <td width="60px">Изображение</td>
        <td width="200px">Дата публикации</td>
        <td>Опубликовано</td>
        <td>Действия</td>
      </tr>
    </thead>
    <tbody>
      <% @useful_articles.each_with_index do |u_a, i| %>
        <tr>
          <td><%= u_a.id %></td>
          <td><%= link_to u_a.title, useful_article_path(u_a), target: '_blank' %></td>
          <td><%= image_tag u_a.preview_url(:thumbnail), class: 'thumbnail useful_articles_image_index' %></td>
          <td><%= u_a.created_at.strftime("%B %dth, %Y") %></td>
          <td>
            <% if u_a.published %>
              <%= fa_icon 'check-square-o', class: 'text-success fa-2x' %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Редактивировать', edit_admin_useful_article_path(u_a), class: 'btn btn-sm btn-warning' %> |
            <%= link_to 'Удалить', admin_useful_article_path(u_a), method: :delete, data: { confirm: "Вы действительно хотите удалить статью № #{ i+1 }" }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>