<footer class="footer">
  <div class="footer-wrap">
    <div class="footer__subscribe-wrap">
      <div class="footer-subscribe">
        <button class='btn btn-primary' data-toggle="modal" data-target="#form_send">Связаться с нами!</button>
        <p></p>
        <%= render 'shared/modal_send_form' %>
      </div>
      <div class="header__phone">
        <%= fa_icon 'phone', text: '095 000 00 00' %>
        <p>
          <%= fa_icon 'phone', text: '068 000 00 00' %>
        </p>
      </div>
    </div>
    <div class="footer__layout">
      <div class="footer__columns-wrap">
        <div class="footer__columns">
          <ul class="footer-list">
            <p></p>
            <% Category.without_parent.each do |category| %>
              <%= link_to category_path(category) do %>
                <li class="footer-list__item"><%= category.name %></li>
              <% end %>
            <% end %>
          </ul>
          <ul class="footer-list">
            <li class="footer-list__item"><%= link_to "Все товары", products_path %></li>
            <li class="footer-list__item"><%= link_to "Все категории", categories_path %></li>
            <li class="footer-list__item"><%= link_to "Оплата и доставка", payment_and_delivery_path %></li>
            <li class="footer-list__item"><%= link_to "Полезные статьи", useful_articles_path %></li>
            <li class="footer-list__item"><%= link_to "Акции", shares_path %></li>
            <li class="footer-list__item"><%= link_to "Отзывы", comments_path %></li>
            <li class="footer-list__item"><%= link_to "Контакты", contacts_path %></li>
            <li class="footer-list__item"><%= link_to "Партнерам", partners_path  %></li>
          </ul>
        </div>
        <div class="footer-copyright">
          <%= link_to root_path do %>
            <%= cl_image_tag("мапапама_nb3pbw.png", :quality=>15, :height=>40, :crop=>"scale") %>
            <%= cl_image_tag("logo.png", :quality=>15, :width=>40, :crop=>"scale") %>
          <% end %>
          <p>Мапапама - это детская радость</p>
        </div>
        <div class="footer-text">© 2016-2017</div>
      </div>
    </div>
  </div>
</footer>
