<footer class="footer">
  <div class="footer-wrap">
    <div class="footer__subscribe-wrap">
      <div class="footer-subscribe">
        <button class='btn btn-primary' data-toggle="modal" data-target="#form_send">
          <%= t "contact_form.contact_with_us" %>
        </button>
        <p></p>
        <%= render 'shared/modal_send_form' %>
      </div>
      <div class="header__phone">
        <br>
        <div class="phone-numbers">
          <div class="row">
            <div class="col-xs-2 col-md-2">
              <%= fa_icon 'phone', class: 'fa-3x phone-icon' %>
            </div>
            <div class="col-xs-10 col-md-10">
              <p class="numbers">095-775-16-86</p>
              <p class="numbers">068-682-99-19</p>
              <p class='numbers'><i>с 9:00 - 21:00</i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__layout">
      <div class="footer__columns-wrap">
        <div class="footer__columns">
          <ul class="footer-list">
            <p></p>
            <% Category.only_parent.limit(8).each do |category| %>
              <%= link_to category_path(category) do %>
                <li class="footer-list__item"><%= truncate(category.name, length: 20, title: "#{category.name}") %></li>
              <% end %>
            <% end %>
          </ul>
          <ul class="footer-list">
            <li class="footer-list__item"><%= link_to t("header_menu.products"), products_path %></li>
            <li class="footer-list__item"><%= link_to t("header_menu.payment"), payment_path %></li>
            <li class="footer-list__item"><%= link_to t("header_menu.delivery"), delivery_path %></li>
            <li class="footer-list__item"><%= link_to t("header_menu.useful_article"), useful_articles_path %></li>
            <li class="footer-list__item"><%= link_to t("header_menu.offers"), shares_path %></li>
            <li class="footer-list__item"><%= link_to t("header_menu.reviews"), comments_path %></li>
            <li class="footer-list__item"><%= link_to t("header_menu.contact"), contacts_path %></li>
            <li class="footer-list__item"><%= link_to t("header_menu.about"), about_path %></li>
            <li class="footer-list__item"><%= link_to t("header_menu.partner"), partners_path %></li>
          </ul>
        </div>
        <div class="footer-copyright">
          <%= link_to root_path do %>
            <%= cl_image_tag("мапапама_nb3pbw.png", :quality=>15, :height=>40, :crop=>"scale") %>
            <%= cl_image_tag("logo.png", :quality=>15, :width=>40, :crop=>"scale") %>
          <% end %>
          <p>
            <%= raw t "leuze" %>
            <% 3.times do %>
              <%= fa_icon 'check', class: 'fa-x2 check-green' %>
            <% end %>
          </p>
        </div>
        <div class="footer-text">© 2017</div>
      </div>
    </div>
  </div>
</footer>
