<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 top_container_left">
  <div class="row">
    <div class="col-md-5 col-lg-5 col-xs-9 col-sm-5 mapapama_logo">
      <%= link_to root_path do %>
        <%= cl_image_tag("мапапама_nb3pbw.png", :quality=>15, :height=>100, :crop=>"scale") %>
      <% end %>
    </div>
    <div class="col-md-2 col-lg-2 col-xs-3 col-sm-2 mapapama_logo">
      <%= link_to root_path do %>
        <%= cl_image_tag("logo.png", :quality=>15, :width=>84, :crop=>"scale") %>
      <% end %>
    </div>
    <div class="col-md-5 col-lg-5 col-xs-12 col-sm-5 leuze">
      <%= raw t "leuze" %>
      <% 3.times do %>
        <%= fa_icon 'check', class: 'fa-x2 check-green' %>
      <% end %>
    </div>
  </div>
</div>
<div class="col-lg-2 col-md-2 col-xs-9 top_container_center">
  <div class="row">
    <div class="phone-numbers">
      <div class="row">
        <div class="col-xs-2 col-md-2">
          <%= fa_icon 'phone', class: 'fa-3x phone-icon' %>
        </div>
        <div class="col-xs-10 col-md-10">
          <p class="numbers">095-775-16-86</p>
          <p class="numbers">068-682-99-19</p>
          <p class='numbers'><i>с 9:00 - 21:00</i></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-4 col-md-4 col-xs-12 top_container_right">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="col-md-8 col-xs-7">
        <% if user_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= current_user.full_name %> <%= image_tag current_user.avatar_url(:small),   class: 'img-circle header-avatar' %>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to t("header_one.my_profile"), current_user %></li>
              <% if current_user.admin? %>
                <li><%= link_to t("header_one.admin_panel"), admin_root_path %></li>
              <% end %>
              <li class='divider'></li>
              <li><%= link_to t("header_one.log_out"), destroy_user_session_path, method: :delete %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to t("header_one.sign_up"), new_user_registration_path %>
          |
          <%= link_to t("header_one.log_in"), new_user_session_path %>
        <% end %>
      </div>
      <div class="col-md-4 col-xs-5">
        <div class="btn-group">
          <%= link_to cart_path(@cart.id), class: "btn btn-success" do %>
            <%= fa_icon 'shopping-basket' %>
          <% end %>
          <button class='btn btn-primary' data-toggle="modal" data-target="#form_send">
            <%= fa_icon 'envelope-o' %>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <%= form_tag(products_path, method: :get) do %>
        <span class="input-group">
          <%= text_field_tag :query, nil, placeholder: t("header_one.search_placeholder"), required: true, class: 'form-control search-input' %>
          <span class="input-group-btn">
            <%= submit_tag t("header_one.search"), query: nil, class: "btn btn-default"  %>
          </span>
        </span>
      <% end %>
      <p>
        <%= link_to_unless_current t("header_one.ru"), locale: 'ru' %> |
        <%= link_to_unless_current t("header_one.ua"), locale: 'ua' %> |
        <%= link_to_unless_current t("header_one.en"), locale: 'en' %>
      </p>
    </div>
  </div>
</div>
