<li><%= link_to t('products.sort.first_cheap'), sort: 'price', order_type: 'ASC' %></li>
<li><%= link_to t('products.sort.first_expensive'), sort: 'price', order_type: 'DESC' %></li>
<li><%= link_to t('products.sort.first_new'), sort: 'created_at', order_type: 'ASC' %></li>
<li><%= link_to t('products.sort.first_old'), sort: 'created_at', order_type: 'DESC' %></li>
<li><%= link_to t('products.sort.first_with_offer'), sort: 'discount', order_type: 'DESC' %></li>
