<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_with(model: order, local: true) do |form| %>
      <%= render 'error', order: order %>
  
      <div class="row">
        <div class="field col-md-6">
          <%= form.label :first_name, "Имя получателя" %>
          <%= form.text_field :first_name, id: :order_first_name,  class: 'form-control', placeholder: 'Введите имя', value: (current_user.first_name if current_user)  %>
          <%= form.hidden_field :user_id, value: (current_user.id if current_user) %>
        </div>
        <div class="field col-md-6"">
          <%= form.label :last_name, "Фамилия получателя" %>
          <%= form.text_field :last_name, id: :order_last_name,  class: 'form-control', placeholder: 'Введите фамилию', value: (current_user.last_name if current_user)  %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="field col-md-6">
          <%= form.label :number, "Контактный номер телефона" %>
          <%= form.text_field :number, id: :order_number,  class: 'form-control', placeholder: 'Введите номер телефона', value: (current_user.number if current_user)  %>
        </div>
      
        <div class="field col-md-6">
          <%= form.label :city, "Областной центр" %>
          <div class="form-control">
            <%= form.select 'city[area]', Order::AREAS, prompt: 'Выберите центр', id: :order_city_area, :required => true %>
          </div>
        </div>      
      </div>
      <br>
      <div class="row">
        <div class="field col-md-6">
          <%= form.label :city, "Населенный пункт" %>
          <%= form.text_field 'city[city]', id: :order_city_city,  class: 'form-control' %>
        </div>
        <div class="field col-md-6">
          <%= form.label :post_office_number, "Номер отделения 'Нова Пошта'" %>
          <%= form.number_field :post_office_number, id: :order_post_office_number,  class: 'form-control' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="field col-md-6">
          <%= form.label :pay_type, "Способ оплаты" %>
          <br>
          <div class="form-control">
            <%= form.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Выберите способ оплаты', id: :order_pay_type, :required => true %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="field col-md-12">
          <%= form.label :comment, "Комментарий" %>
          <%= form.trix_editor :comment, id: :order_comment %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <%= form.submit "Подтвердить заказ", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
