<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @order.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @order.last_name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @order.comment %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Post office number:</strong>
  <%= @order.post_office_number %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
