<div class="col-md-8 col-md-offset-2 col-xs-12 description">
  <center>
    <%= cl_image_tag("мапапама_nb3pbw.png", :quality=>15, :height=>150, :crop=>"scale") %>
  </center>
  <p>
    <b>Mapapama.com.ua</b> – <%= t('about.r1') %>
  </p>
  <p>
    <%= t('about.r2') %>
  </p>
  <p>
    <%= t('about.r3') %>
  </p>
  <p>
    <%= t('about.r4') %>
  </p>
  <p>
  </p>
  <ul>
    <%= raw t('about.items') %>
  </ul>
  <p>
    <%= t('about.r5') %>
  </p>
  <p>
    <%= t('about.r6') %>
  </p>
</div>
