<h1><%= t('delivery_page.title')%></h1>
<div class="col-md-10 col-md-offset-1 col-xs-12 delivery">
  <div class="row">
    <div class="col-md-12">
      <p><%= t('delivery_page.r1')%></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2><%= t('delivery_page.r2')%></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-10 col-xs-offset-2">
      <a type="button" data-toggle="modal" data-target="#newPost">
        <div class="logo-post">
          <p>
            <%= image_tag 'new_post_logo.png', class: 'new_post_logo', crop: 'scale' %>
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-3 col-xs-10 col-xs-offset-2">
      <a type="button" data-toggle="modal" data-target="#mistExpress">
        <p>
          <div class="logo-post">
            <%= image_tag 'mist_logo.png', class: 'new_post_logo', crop: 'scale' %>
          </div>
        </p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><%= t('delivery_page.r3')%></p>
      <p><%= t('delivery_page.r4')%></p>
      <p><%= t('delivery_page.r5')%></p>
    </div>
  </div>
  <%= render 'new_post_modal' %>
  <%= render 'mist_modal' %>
</div>
