<main>
  <aside class="sticky search_multiple_form">
    <div id="search_multiple_form">
      <%= render "searches/new" %>
    </div>
    <br>
    <div class="category-lists">
      <%= render 'categories/sidebar_category' %>
    </div>
  </aside>
  <article class='article_products'>
    <br>
    <div class="row">
      <div class="col-md-12">
        <%= render  partial: "products/carousel_full", locals: { some_array_of_products: @newest_ten_products, rows_count: 2,  id_of_this_carousel: "newest_carousel", name_of_carousel: t('novelties')  } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render  partial: "products/carousel_full", locals: { some_array_of_products: @products_with_special_offers, rows_count: 5, id_of_this_carousel: "offers_carousel", name_of_carousel: t('offers') } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= render  partial: "products/carousel_full", locals: { some_array_of_products: @products_most_viewed, rows_count: 5,  id_of_this_carousel: "top_viewed_carousel", name_of_carousel: t('populars') } %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('all_products') %></h1>
        <div id="products">
          <%= render 'products' %>
        </div>
      </div>
    </div>
  </article>
</main>

<div class="mobile" name="top">
  <!-- This is the container enabling the JavaScript -->
  <%= render 'shared/button_mobile' %>
  <%= render  partial: "products/carousel_full_mobile", locals: { some_array_of_products: @newest_ten_products, rows_count: 2*4,  id_of_this_carousel: "newest_mobile_carousel", name_of_carousel: t('novelties')  } %>

  <%= render  partial: "products/carousel_full_mobile", locals: { some_array_of_products: @products_with_special_offers, rows_count: 5*4, id_of_this_carousel: "offers_mobile_carousel", name_of_carousel: t('offers') } %>

  <%= render  partial: "products/carousel_full_mobile", locals: { some_array_of_products: @products_most_viewed, rows_count: 5*4,  id_of_this_carousel: "top_viewed_mobile_carousel", name_of_carousel: t('populars') } %>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to t('show_all_products'), products_path, class: 'btn btn-info btn-block' %>
      <br>
    </div>
  </div>
</div>
<br>
<a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
