<h1><%= t('payment.payment') %></h1>
<div class="container">
  <div class="row col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md 12">
        <div class="row">
          <div class="col-md-10 col-xs-9">
            <p class='delivery'>
              <%= t('payment.intro') %>
            </p>
          </div>
          <div class="col-md-2 col-xs-3">
            <%=image_tag 'pay.png', width: '100px', height: '100px', crop: "scale" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <ul class='delivery'>
              <li class='way_item'>
                <p class='way'><%= t('payment.way1_item') %></p>
                <ul>
                  <%= raw t('payment.way1') %>
                </ul>
              </li>
              <li class='way_item'>
                <p></p>
                <p class='way'><%= t('payment.way2_item') %></p>
                <ul>
                  <%= raw t('payment.way2') %>
                </ul>
              </li>
              <li class='way_item'>
                <p class='way'><%= t('payment.way3_item') %></p>
                <p><%= t('payment.way3') %></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
