<%= form_for SendMessage.new, url: send_message_url do |f| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="form-group">
          <%= f.label t('contact_form.name') %>
          <div class="input-group">
            <span class="input-group-addon">
              <%= fa_icon 'user' %>
            </span>
            <%= f.text_field :name, placeholder: t('contact_form.name'), class: 'form-control', required: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="form-group">
          <%= f.label t('contact_form.email') %>
          <div class="input-group">
            <span class="input-group-addon">
              <%= fa_icon 'envelope' %>
            </span>
            <%= f.email_field :email, placeholder: t('contact_form.email'), class: 'form-control', required: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="form-group">
          <%= f.label t('contact_form.message') %>
          <%= f.trix_editor :content, placeholder: t('contact_form.message'), required: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-md-11">
      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
        <%= t('contact_form.close') %>
      </button>
      <%= f.submit t('contact_form.with_us'), class: 'btn btn-success pull-right' %>
    </div>
  </div>
<% end %>
