<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="container">
      <div class="omb_login">
        <h2 class="omb_authTitle">Войти или <%= link_to "Зарегистрироваться", new_registration_path(resource_name) %></h3>
          <div class="row">
            <%= render "devise/shared/links" %>
          </div>
          <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
              <hr class="omb_hrOr">
              <span class="omb_spanOr">или</span>
            </div>
          </div>
          <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">  
              <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Ваш email" %>
                </div>
                <span class="help-block"></span>
                          
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Ваш пароль"  %>
                </div>
               <br>
               <%= f.submit "Войти", class: 'btn btn-lg btn-primary btn-block' %>
             </form>
           </div>
          </div>
        <div class="row omb_row-sm-offset-3">
          <div class="col-xs-12 col-sm-3">
            <label class="checkbox">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "Запомнить меня" %>
            </label>
          </div>
          <div class="col-xs-12 col-sm-3">
            <p class="omb_forgotPwd">
              <%= link_to "Забыли пароль?", new_password_path(resource_name) %>
            </p>
          </div>
        </div>        
      </div>
    </div>
  </div>
<% end %>
