<div class="row">
  <div class="col-md-12 col-xs-12">
    <%= link_to t('sidebar_filter.show_all_discount'), products_with_offers_path, class: 'btn btn-success btn-block' %><br>
    <% if current_user.try(:admin) %>
      <%= link_to t('sidebar_filter.add_product'), new_product_path %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h3 class='text-success'><i><%= t 'sidebar_filter.picking' %></i></h3>
  </div>
</div>
<%= form_for @search do |f| %>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p><%= t 'sidebar_filter.sex' %></p>
      <p>
        <%= f.select :sex_id, options_from_collection_for_select(Sex.all, :id, :name), { prompt: t('sidebar_filter.select_sex') },  class: 'form-control' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p><%= t 'sidebar_filter.cost' %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-6 col-sm-12">
      <p>
        <%= f.text_field :min_price, placeholder: t('sidebar_filter.min_sum'), class: 'form-control search-input' %>
      </p>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-12">
      <p>
        <%= f.text_field :max_price, placeholder: t('sidebar_filter.max_sum'), class: 'form-control search-input' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p><%= t 'sidebar_filter.age' %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-6 col-sm-12">
      <p>
        <%= f.number_field :min_age, min: 0, placeholder: t('sidebar_filter.min_age'), class: 'form-control search-input' %>
      </p>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-12">
      <p>
        <%= f.number_field :max_age, min: 0, placeholder: t('sidebar_filter.max_age'), class: 'form-control search-input' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <%= f.submit t('sidebar_filter.search'), class: 'btn btn-success btn-block' %>
    </div>
  </div>
<% end %>
