<% if current_user.try(:admin) %>
  <%= link_to t('sidebar_filter.add_product'), new_product_path %>
  <br>
<% end %>
<%= link_to t('sidebar_filter.show_all_discount'), products_with_offers_path, class: 'btn btn-success' %><br>
<h3><%= t 'sidebar_filter.picking' %></h3>
<hr>
<%= form_for @search do |f| %>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p><%= t 'sidebar_filter.sex' %></p>
      <p>
        <%= f.select :sex_id, options_from_collection_for_select(Sex.all, :id, :name), { prompt: t('sidebar_filter.select_sex') },  class: 'form-control' %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p><%= t 'sidebar_filter.category' %></p>
      <p>
        <%= f.select :category_id, Category::CATEGORIES_SELECT, { prompt: t('sidebar_filter.select_category') },  class: 'form-control' %>
      </p>
    </div>
  </div>
  <div class="row">
    <p><%= t 'sidebar_filter.cost' %></p>
    <div class="col-md-6 col-xs-6">
      <p>
        <%= f.text_field :min_price, placeholder: t('sidebar_filter.min_sum'), class: 'form-control search-input' %>
      </p>
    </div>
    <div class="col-md-6 col-xs-6">
      <p>
        <%= f.text_field :max_price, placeholder: t('sidebar_filter.max_sum'), class: 'form-control search-input' %>
      </p>
    </div>
  </div>
  <div class="row">
    <p><%= t 'sidebar_filter.age' %></p>
    <div class="col-md-6 col-xs-6">
      <p>
        <%= f.number_field :min_age, min: 0, placeholder: t('sidebar_filter.min_age'), class: 'form-control search-input' %>
      </p>
    </div>
    <div class="col-md-6 col-xs-6">
      <p>
        <%= f.number_field :max_age, min: 0, placeholder: t('sidebar_filter.max_age'), class: 'form-control search-input' %>
      </p>
    </div>
  </div>
  <div class="advanced_search_show">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p><%= t 'sidebar_filter.brand' %></p>
        <p>
          <%= f.text_field :brand, placeholder: t('sidebar_filter.brand'), class: 'form-control search-input' %>
        </p>
      </div>
    </div>
    <div class="row">
      <p><%= t 'sidebar_filter.color' %></p>
      <div class="field col-md-1 col-xs-1">
        <%= f.label(:color_white) do %>
          <div class="square white-square"></div>
        <% end %>
        <%= f.check_box :color_white, id: :product_color_white %>
      </div>
      <div class="field col-md-1 col-xs-1">
        <%= f.label(:color_black) do %>
          <div class="square black-square"></div>
        <% end %>
        <%= f.check_box :color_black, id: :product_color_black %>
      </div>
      <div class="field col-md-1 col-xs-1">
        <%= f.label(:color_red) do %>
          <div class="square red-square"></div>
        <% end %>
        <%= f.check_box :color_red, id: :product_color_red %>
      </div>
      <div class="field col-md-1 col-xs-1">
        <%= f.label(:color_yellow) do %>
          <div class="square yellow-square"></div>
        <% end %>
        <%= f.check_box :color_yellow, id: :product_color_yellow %>
      </div>
      <div class="field col-md-1 col-xs-1">
        <%= f.label(:color_green) do %>
          <div class="square green-square"></div>
        <% end %>
        <%= f.check_box :color_green, id: :product_color_green %>
      </div>
      <div class="field col-md-1 col-xs-1">
        <%= f.label(:color_blue) do %>
          <div class="square blue-square"></div>
        <% end %>
        <%= f.check_box :color_blue, id: :product_color_blue %>
      </div>
      <div class="field col-md-1 col-xs-1">
        <%= f.label(:color_violet, "Фиолетовый") do %>
          <div class="square violet-square"></div>
        <% end %>
        <%= f.check_box :color_violet, id: :product_color_violet %>
      </div>
    </div>
    <div class="row">
      <p>Материал</p>
      <div class="col-md-6 col-xs-12">
        <p><%= f.check_box :material_plastic, class: "color_yellow" %><%= t 'sidebar_filter.plastic' %></p>
        <p><%= f.check_box :material_wooden, class: "color_yellow" %><%= t 'sidebar_filter.wood' %></p>
        <p><%= f.check_box :material_another, class: "color_yellow" %><%= t 'sidebar_filter.other' %></p>
      </div>
      <div class="col-md-6 col-xs-12">
        <p><%= f.check_box :material_iron, class: "color_yellow" %><%= t 'sidebar_filter.iron' %></p>
        <p><%= f.check_box :material_fabric, class: "color_yellow" %><%= t 'sidebar_filter.cloth' %></p>
      </div>
    </div>
  </div>
<div class="row">
  <%= f.submit t('sidebar_filter.search'), class: 'btn btn-success btn-block' %>
</div>
<% end %>
