<div class="col-xs-12 col-md-8">
  <div class="well">
    <%= nested_form_for [:admin, @category] do |f| %>
      <br>
      <div class="form-group">
        <%= f.label :parent_id %>
        <%= f.collection_select :parent_id, Category.all, :id, :name, { include_blank: true }, class: 'form-control' %>
      </div>
      <br>
      <%= f.label "Название категории:" %>
      <%= f.text_field :name, placeholder: "Введите название категории", class: 'form-control', required: true %>
      <br>
      <%= f.submit 'ОК', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
