<div class="col-xs-12 col-md-6">
  <%= nested_form_for [:admin, @category] do |f| %>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, placeholder: :name, class: 'form-control' %>
    <h3>Подкатегории</h3>
    <%= f.fields_for :subcategories do |ff| %>
      <div class="row">
        <div class="col-xs-9 col-md-6">
          <%= ff.label :name %>
          <%= ff.text_field :name, class: 'form-control' %>
          <%= ff.link_to_remove "Удалить подкатегорию" %>
          <%= ff.hidden_field :parent_category_id, value: @category.id %>
        </div>
      </div>
    <% end %>
    <p><%= f.link_to_add "Добавить подкатегорию", :subcategories %></p>
    <br>
    <%= f.submit 'Добавить', class: 'btn btn-success' %>
  <% end %>
</div>
