<h1>Продукты</h1>
<div class="row">
  <div class="col-md-3 col-xs-2">
    <%= link_to 'Добавить товар', new_product_path, target: '_blank', class: 'btn btn-success' %>
  </div>

  <div class="col-md-2 col-xs-2">
    <%= link_to "удалить товары добавленные сегодня (#{Product.products_created_today.count})", delete_products_created_today_admin_products_path, class: 'btn btn-danger', method: :delete %>
  </div>

  <div class="col-md-6 col-xs-2">
    <%= form_tag import_admin_products_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Загрузить", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-6 col-xs-12">
    <%= form_tag(admin_products_path, method: :get) do %>
      <span class="input-group">
        <%= text_field_tag :product_code, nil, placeholder: "Введите код товара", class: 'form-control search-input' %>
        <span class="input-group-btn">
          <%= submit_tag 'Искать', product_code: nil, class: "btn btn-default"  %>
        </span>
      </span>
    <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <div id="products">
      <%= render 'products' %>
    </div>
  </div>
</div>
