<div class="modal fade product_view_<%= product.id  %>" id="product_view_<%= product.id  %>">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
        <h2 class="modal-title">
          <%= product.title %>
        </h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <% if product.category && product.category.parent.present? %>
              <p>
                <b>Категория:</b>
                <%= product.category.parent.name %>
              </p>
              <p>
                <b>Подкатегория:</b>
                <%= product.category.name %>
              </p>
            <% else %>
              <p>
                <b>Категория:</b>
                <%= product.category.name if product.category  %>
              </p>
            <% end %>
            <p>
              <strong>Пол:</strong>
              <%= product.sex.name if product.sex %>
              <% if product.boys %>
                <%= fa_icon 'mars-stroke', class: 'fa-2x sex-boys', alt: 'Мальчики', title: "Для мальчиков" %>
              <% end %>
              <% if product.girls %>
                <%= fa_icon 'venus', class: 'fa-2x sex-girls', alt: 'Девочки', title: "Для девочек" %>
              <% end %>
            </p>
            <p>
            <p>
              <strong>Минимальный возраст:</strong>
              <%= product.min_age %>
            </p>
            <p>
              <strong>Максимальный возраст:</strong>
              <%= product.max_age %>
            </p>
              <strong>Бренд:</strong>
              <%= product.brand %>
            </p>
            <p>
              <strong>Страна:</strong>
              <%= product.country %>
            </p>
            <p>
              <% if current_user.try(:admin) %>
                <%= link_to 'Редактировать', edit_product_path(product) %>
              <% end %>
            </p>
          </div>
          <div class="col-md-6" id="slider">
            <div class="col-sm-12" id="image-bounding">
              <center>
                <div class="product_image_modal">
                  <div id="main_avatar">
                    <%= image_tag(product.image_url(:large), width: '250px', height: '350px') %>
                  </div>
                </div>
              </center>
            </div>
          </div>
          <div class="col-md-3">
            <p><span class="uk-badge uk-badge-success">НОВИНКА!</span></p>
            <h2>
              <% if product.discount != 0 %>
                <s><%= number_to_currency(product.price, unit: "₴")%></s>
                <p class='label label-success'><%= number_to_currency(product.discount_price, unit: "₴")%></p> 
              <% else %>
                <%= number_to_currency(product.price, unit: "₴")%>
              <% end %>
            </h2>
            <% if product.discount %>
              <% if product.discount != 0 %>
                <p>
                  <span class="uk-badge uk-badge-notification uk-badge-danger">
                    <strong>Скидка</strong>
                    <%= number_to_percentage(product.discount, precision: 0) %>
                  </span>
                </p>
              <% end %>
            <% end %>
            <p>
              <strong>Осталось на складе:</strong>
              <%= product.quantity %>
            </p>
            <p>
              <strong>Код:</strong>
              <%= product.product_code %>
            </p>
            <p><%= social_share_button_tag(product.title) %></p>
            <%= button_to product_line_items_path(product.id), class: "btn btn-danger" do %>
              <%= fa_icon 'cart-plus', text: 'В Корзину' %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <%= render 'modal_image', product: product %>
          <div class="col-md-12 col-xs-12" id="slider-thumbs">
            <ul class="hide-bullets">
              <li class="col-md-2 col-sm-3 col-xs-6">
                <a data-toggle="modal" href="#image_<%= product.id %>" class="thumbnail product_image_add">
                  <%= image_tag(product.image_url(:medium), width: '150px', height: '150px') %>
                </a>
              </li>
              <% product.image_products.each do |im_prod| %>
                <%= render 'modal_add_image', im_prod: im_prod, product: product %>
                <li class="col-md-2 col-sm-3 col-xs-6">
                  <a class="thumbnail product_image_add" data-toggle="modal" href="#image_add_<%= im_prod.id %>" class="thumbnail">
                    <%= image_tag(im_prod.image.url(:medium), width: '150px', height: '150px')%>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <button id="info-product_<%= product.id  %>" class='btn btn-primary btn-block'>Больше информации</button>
          </div>
        </div>
        <div class="row info-about-product_<%= product.id  %> info-about-product">
          <br>
          <div class="col-md-6">
            <%= render 'table_characters', product: product %>
          </div>
          <div class="col-md-6">
            <h2>Описание</h2>
            <%= raw product.description %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $("#info-product_<%= product.id  %>").click(function(){
      $(".info-about-product_<%= product.id  %>").toggle();
    });
  });
</script>
