<div class="row">
  <div class="col-md-10 col-sm-10">
    <h2>
      <% @category.path.each do |c| %>
        <% unless c.ancestry == nil %>
          <%= fa_icon 'angle-double-right' %>
        <% end %>
        <%= link_to c.name, category_path(c) %>
      <% end %>
    </h2>
  </div>
  <div class="col-md-1 col-sm-2">
    <a class='pull-right' onclick="javascript:history.back(); return false;">
      <%= fa_icon 'share', class: 'fa-2x' %>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="dropdown">
      <button class="btn btn-sorting dropdown-toggle pull-left" type="button" data-toggle="dropdown">
        <%= t('products.sort.sort_by') %>
      </button>
      <ul class="dropdown-menu">
        <%= render 'shared/sorting_parametrs' %>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <% @products.each do |product| %>
      <div class="col-md-3 col-sm-6 col-xs-12 product_view_class product_view_class_all">
        <div class="item-category">
          <%= render  partial: "products/product", locals: { product: product } %>
          <%= button_to t('products.add_to_cart'), product_line_items_path(product.id), class: "buttom_add_to_cart" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <center>
    <%= will_paginate @products, renderer: BootstrapPagination::Rails, previous_label: '<=', next_label:'=>' %>
  </center>
</div>
