<div class="row">
  <div class="col-sm-12 col-xs-12">
    <div class="all_products_div">
      <% @subcategory_product.each do |subcategory, i| %>
        <% subcategory.products.each do |product| %>
          <div class="col-md-4 col-xs-12 product_view_class">
            <div class="item-category">
              <a href="#product_view_<%= product.id  %>" data-toggle="modal" data-target="#product_view_<%= product.id %>">
                <%= image_tag product.image.url(:thumb), class: 'image-product-category-index' %>
                <%= tag.div :class => "product_price_text" do %>
                  <% if product.discount != 0 %>
                    <%= "Скидка #{number_to_percentage(product.discount, precision: 0)}" %>
                  <% end %>
                <% end %>
                <%= tag.div(product.title.mb_chars.capitalize.to_s, :class => "product_title_text") %>
                <%= tag.div(number_to_currency(product.price, unit: "грн"), :class => "product_price_text") %>
                <%= if product.quantity then tag.div("Остаток #{product.quantity}", :class => "product_quantity_text") else tag.div("Под заказ", :class => "  product_quantity_text") end %>
                <%= tag.div(product.product_code, :class => "product_code_text") %>
              </a>
              <%= button_to 'В корзину', product_line_items_path(product.id), :class => "buttom_add_to_cart" %>
            </div>
          </div>
          <%= render 'modal_window', product: product %>
        <% end %>
<!--         <div class="row">
          <center>
            <%= will_paginate subcategory.products.paginate(page: params[:page], per_page: 18), renderer: BootstrapPagination::Rails %>
          </center>
        </div> -->
      <% end %>
    </div>
  </div>
</div>

