<div class="sidebar">
  <div class="bg-white shadow">
    <div class="sidebar-menu">
      <ul class="nav sidebar-nav">
        <li>
          <%= link_to root_path do %>
            <span class="glyphicon glyphicon-tag icon"></span> Все категории
            <span class="sidebar-badge"><%= @products_count %></span>
          <% end %>
        </li>
        <% Category.only_parent.each_with_index do |category, i| %>
          <% if category.children.count == 0 %>
            <li>
              <%= link_to category_path(category) do %>
                <%= "#{i+1}. #{category.name}" %>
                <span class="sidebar-badge"><%= category.products.count %></span>
              <% end %>
            </li>
          <% else %>
            <li>
              <a class="ripple-effect dropdown-toggle" class="collapsed" data-toggle="collapse" data-target="#category_<%= category.id %>">
                <%= "#{i+1}. #{category.name}" %>
                <span class="sidebar-badge"><%= category.products.count %></span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu collapse" id="category_<%= category.id %>">
                <% category.children.each_with_index do |subcategory, k| %>
                  <% if subcategory.children.count == 0 %>
                    <li class="subcategory_name">
                      <%= link_to category_path(subcategory) do %>
                        <%= "#{i+1}.#{k+1} #{category.name}" %>
                        <span class="sidebar-badge"><%= subcategory.products.count %></span>
                      <% end %>
                    </li>
                  <% else %>
                    <li class="subcategory_name">
                      <a class="ripple-effect dropdown-toggle" class="collapsed" data-toggle="collapse" data-target="#subcategory_<%= subcategory.id %>">
                        <%= "#{i+1}.#{k+1} #{subcategory.name}" %>
                        <span class="sidebar-badge"><%= subcategory.products.count %></span>
                        <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu collapse" id="subcategory_<%= subcategory.id %>">
                        <% subcategory.children.each_with_index do |subsubcategory, l| %>
                          <% if subsubcategory.children.count == 0 %>
                            <li class="subcategory_name">
                              <%= link_to category_path(subsubcategory) do %>
                                <%= "#{i+1}.#{k+1}.#{l+1} #{subsubcategory.name}" %>
                                <span class="sidebar-badge"><%= subsubcategory.products.count %></span>
                              <% end %>
                            </li>
                          <% else %>
                            <li class="subcategory_name">
                              <a class="ripple-effect dropdown-toggle" class="collapsed" data-toggle="collapse" data-target="#subsubcategory_<%= subsubcategory.id %>">
                                <%= "#{i+1}.#{k+1}.#{l+1} #{subsubcategory.name}" %>
                                <span class="sidebar-badge"><%= subsubcategory.products.count %></span>
                                <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu collapse" id="subsubcategory_<%= subsubcategory.id %>">
                                <% subsubcategory.children.each_with_index do |subsubsubcategory, m| %>
                                  <% if subsubsubcategory.children.count == 0 %>
                                    <li class="subcategory_name">
                                      <%= link_to category_path(subsubcategory) do %>
                                        <%= "#{i+1}.#{k+1}.#{l+1}.#{m+1} #{subsubcategory.name}" %>
                                        <span class="sidebar-badge"><%= subsubsubcategory.products.count %></span>
                                      <% end %>
                                    </li>
                                  <% else %>
                                    <li class="subcategory_name">
                                      <a class="ripple-effect dropdown-toggle" class="collapsed" data-toggle="collapse" data-target="#subsubsubcategory_<%= subsubsubcategory.id  %>">
                                        <%= "#{i+1}.#{k+1}.#{l+1}.#{m+1} #{subsubsubcategory.name}" %>
                                        <span class="sidebar-badge"><%= subsubsubcategory.products.count %></span>
                                        <b class="caret"></b>
                                      </a>
                                      <ul class="dropdown-menu collapse" id="subsubsubcategory_<%= subsubsubcategory.id %>">
                                        <% subsubsubcategory.children.each_with_index do |subsubsubsubcategory, p| %>
                                          <li class="subcategory_name">
                                            <%= link_to category_path(subsubsubsubcategory) do %>
                                              <%= "#{i+1}.#{k+1}.#{l+1}.#{m+1}.#{p+1} #{subsubsubsubcategory.name}" %>
                                              <span class="sidebar-badge"><%= subsubsubsubcategory.products.count %></span>
                                            <% end %>
                                          </li>
                                        <% end %>
                                      </ul>
                                    </li>
                                  <% end %>
                                <% end %>
                              </ul>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
