<main>
  <aside class="sticky search_multiple_form">
    <div class="category-lists">
      <div class="sticky search_multiple_form">
        <div id="search_multiple_form">
          <%= render "searches/new" %>
        </div>
      </div>
      <br>
      <%= render 'sidebar_category' %>
    </div>
  </aside>
  <article class='article_products'>
    <div class="row">
      <div class="col-md-10 col-sm-10">
        <h2>
          <% @category.path.each do |c| %>
            | <%= link_to c.name, category_path(c) %>
          <% end %>
        </h2>
      </div>
      <div class="col-md-1 col-sm-2">
        <a class='pull-right' onclick="javascript:history.back(); return false;">
          <%= fa_icon 'share', class: 'fa-2x' %>
        </a>
      </div>
    </div>
    <div id="products">
      <%= render 'products' %>
    </div>
  </article>
</main>

<div class="mobile" name="top">
  <%= render 'shared/button_mobile' %>
  <div class="row">
    <div class="col-md-12">
      <div id="products_mobile">
        <%= render 'products_mobile' %>
      </div>
    </div>
  </div>
</div>
<a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
