<% if @category.parent.present? %>
  <h1><%= link_to @category.parent.name, category_path(@category.parent) %> / <%= @category.name %></h1>
<% else %>
  <h1><%= @category.name %></h1>
<% end %>
<div class="col-md-3">
  <div class="category-lists">
    <div class="sticky search_multiple_form">
      <div id="search_multiple_form">
        <%= render  partial: "searches/new" %>
      </div>
    </div>
    <br>
    <%= render 'sidebar_category' %>
  </div>
</div>
<div class="all_products col-md-9">
  <%= render 'products' %>
</div>
<a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
