<h1>Список пользователей</h1>
<%- @users.each do |user| %>
  <div class="media" id="user_<%= user.id %>">
    <div class="pull-left">
      <%= image_tag user.avatar_url(:thumb), class: 'media-object img-thumbnail', style: "width: 64px; height: 64px"%>        
    </div>
    <div class="media-body">
      <h3 class="media-heading"><strong><a href="#"><%= link_to user.full_name, user_path(user) %></a></strong></h3>
      <p class="small">
        <% if user.admin? %>
          <%= fa_icon 'star', text: "Администратор" %>
        <% elsif user.moderator? %>
          <%= fa_icon 'certificate', text: "Модератор" %>
        <% else %>
          <%= fa_icon 'user', text: "Пользователь" %>
        <% end %>
        <% if user.banned? %>
          <%= fa_icon 'ban', class: 'text-danger' %>
        <% end %>
      </p>
      <% if current_user.id != user.id %>
        <% unless user.user? %>
          <%= link_to "Разжаловать в пользователи", bust_user_admin_user_path(user), data: { url: admin_users_path(id: user.id), method: :put }%> |
        <% end %>
        <% unless user.moderator? %>
          <%= link_to "Назначить модератором", make_moderator_admin_user_path(user), data: { url: admin_users_path(id: user.id), method: :put }%> |
        <% end %>
        <% unless user.admin? %>
          <%= link_to "Назначить администратором", make_admin_admin_user_path(user), data: { url: admin_users_path(id: user.id), method: :put }%> |
        <% end %>
        <%= link_to "#{ user.banned ? 'Разблокировать' : 'Заблокировать' }", banned_user_admin_user_path(user) %> |
        <%= link_to "Удалить аккаунт", admin_user_path(user), method: :delete, remote: true, data: { confirm: 'Вы действительно хотите удалить этого пользователя?' } %>
      <% end %>
    </div>
  </div>
  <br>
<% end %>
<div class="row">
  <center>
    <%= will_paginate @users, renderer: BootstrapPagination::Rails, previous_label: '<=', next_label:'=>' %>
  </center>
</div>
