<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to admin_root_path, class: "navbar-brand" do %>
        <%= cl_image_tag("logo.png", :quality=>15, :width=>40, :crop=>"scale", class: 'admin-logo') %>
      <% end %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Пользователи', admin_users_path %></li>
      <li><%= link_to 'Товары', admin_products_path %></li>
      <li><%= link_to 'Категории', admin_categories_path %></li>
      <li><%= link_to 'Полезные статьи', admin_useful_articles_path %></li>
      <li><%= link_to 'Акции', admin_shares_path %></li>
      <li><a href="#">Заказы</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Назад', root_path %></li>
    </ul>
  </div>
</nav>
