<%= form_with(model: product, local: true) do |form| %>
  <%= render 'error', product: product %>
  <div class="row">
    <div class="col-md-4 product_form_column">
      <div class="field">
        <%= form.label(:title, "Название") %>
        <%= form.text_field :title, id: :product_title, class: 'form-control input-product' %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:category, "Категория") %>
        <div class="pull-right">
          <%= form.select :category_id, options_from_collection_for_select(Category.without_parent, :id, :name), {}, class: 'form-control input-product' %>
        </div>
      </div>

<!--       <div class="field">
        <%= form.label(:category, "Под-Категория") %>
        <div class="pull-right">
          <%= form.select :category_id, options_from_collection_for_select(Category.without_subcategory, :id, :name), {}, class: 'form-control input-product' %>
        </div>
      </div> -->
      <p>
      <div class="field">
        <%= form.label(:size_a, "Длина") %>
        <%= form.number_field :size_a, id: :product_size_a, class: 'form-control input-product', min: 0 %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:size_b, "Ширина") %>
        <%= form.number_field :size_b, id: :product_size_b, class: 'form-control input-product', min: 0  %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:size_h, "Висота") %>
        <%= form.number_field :size_h, id: :product_size_h, class: 'form-control input-product', min: 0  %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:purchase_price, "Цена закупки ₴") %>
        <%= form.number_field :purchase_price, id: :product_purchase_price, :step => 0.01, class: 'form-control input-product', min: 0  %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:mark_up, "Наценка %") %>
        <%= form.number_field :mark_up, id: :product_mark_up, class: 'form-control input-product', min: 0  %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:price, "Цена ₴", :title => "когда меняем любое из значений: цена закупки наценка скидка то пересчитывает конечную цену вне зависимости от того какая сейчас стоит") %>
        <%= form.number_field :price, id: :product_price, :step => 0.01, min: 0, class: 'form-control input-product' %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:weight, "Вес") %>
        <%= form.number_field :weight, id: :product_weight, :step => 0.01, min: 0, class: 'form-control input-product' %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:brand, "Бренд") %>
        <%= form.text_field :brand, id: :product_brand, class: 'form-control input-product' %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:supplier, "Поставщик") %>
        <%= form.text_field :supplier, id: :product_supplier, class: 'form-control input-product' %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:quantity, "Количество") %>
        <%= form.number_field :quantity, id: :product_quantity, min: 0, class: 'form-control input-product' %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:country, "Страна") %>
        <%= form.text_field :country, id: :product_country, class: 'form-control input-product' %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:discount, "Скидка %") %>
        <%= form.number_field :discount, id: :product_discount, min: 0, class: 'form-control input-product' %>
        <p>
      </div>

      <div class="field">
        <%= form.label(:product_code, "Код") %>
        <%= form.number_field :product_code, id: :product_product_code, class: 'form-control input-product' %>
        <p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="row">
        <div class="field">
          <%= form.label(:description, "Описание") %>
          <%= form.trix_editor :description, rows: 6, id: :product_description, placeholder: 'Добавить описание' %>
        </div>
        <div class="col-md-12 product_form_column">
          <div class="row">
            <h3>Для какого пола предназначена</h3>
            <div class="col-md-4 col-xs-6">
              <div class="field">
                <%= form.label(:boys) do %>
                  <%= fa_icon 'mars-stroke', class: 'fa-2x sex-boys', text: 'Мальчики' %>
                <% end %>
                <%= form.check_box :boys, id: :product_boys %>
               </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="field">
                <%= form.label(:girls) do %>
                  <%= fa_icon 'venus', class: 'fa-2x sex-girls', text: 'Девочки' %>
                <% end %>
                <%= form.check_box :girls, id: :product_girls %>
              </div>
            </div>
          </div>
          <div class="row">
            <h3>Цвет</h3>
            <div class="field col-md-1">
              <%= form.label(:color_white) do %>
                <div class="square white-square"></div>
              <% end %>
              <%= form.check_box :color_white, id: :product_color_white %>
            </div>
  
            <div class="field col-md-1">
              <%= form.label(:color_black) do %>
                <div class="square black-square"></div>
              <% end %>
              <%= form.check_box :color_black, id: :product_color_black %>
            </div>
  
            <div class="field col-md-1">
              <%= form.label(:color_red) do %>
                <div class="square red-square"></div>
              <% end %>
              <%= form.check_box :color_red, id: :product_color_red %>
            </div>
  
            <div class="field col-md-1">
              <%= form.label(:color_yellow) do %>
                <div class="square yellow-square"></div>
              <% end %>
              <%= form.check_box :color_yellow, id: :product_color_yellow %>
            </div>
  
            <div class="field col-md-1">
              <%= form.label(:color_green) do %>
                <div class="square green-square"></div>
              <% end %>
              <%= form.check_box :color_green, id: :product_color_green %>
            </div>
  
            <div class="field col-md-1">
              <%= form.label(:color_blue) do %>
                <div class="square blue-square"></div>
              <% end %>
              <%= form.check_box :color_blue, id: :product_color_blue %>
            </div>

            <div class="field col-md-1">
              <%= form.label(:color_violet, "Фиолетовый") do %>
                <div class="square violet-square"></div>
              <% end %>
              <%= form.check_box :color_violet, id: :product_color_violet %>
            </div>
          </div>
          
          <div class="row">
            <h3>Материал</h3>
            <div class="field col-md-3">
              <%= form.label(:material_plastic, "Пластик") %>
              <%= form.check_box :material_plastic, id: :product_material_plastic %>
            </div>
  
            <div class="field col-md-3">
              <%= form.label(:material_iron, "Железо") %>
              <%= form.check_box :material_iron, id: :product_material_iron %>
            </div>
  
            <div class="field col-md-3">
              <%= form.label(:material_wooden, "Дерево") %>
              <%= form.check_box :material_wooden, id: :product_material_wooden %>
            </div>
          </div>
          <div class="row">
            <div class="field col-md-3">
              <%= form.label(:material_fabric, "Ткань") %>
              <%= form.check_box :material_fabric, id: :product_material_fabric %>
            </div>

            <div class="field col-md-4">
              <%= form.label(:material_another, "Другой материал") %>
              <%= form.check_box :material_another, id: :product_material_another %>
            </div>
          </div>
          <div class="row">
            <div class="field col-md-8">
              <%= form.text_field :other_desc, id: :other_desc, class: 'form-control', disabled: true, placeholder: 'Введите название материала' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h3>Дополнительные изображения</h3>
        <%= form.nested_fields_for :image_products do |form_image| %>
          <div class="col-md-9 col-xs-9">
            <%= form_image.file_field :image, class: 'image_product_upload' %>
            <%= form_image.hidden_field(:image_cache) %>
            <div class="col-md-6 image_product_upload_preview">
              <img class="product_upload_image" />
            </div>
          </div>
          <div class="col-md-3 col-xs-3">
            <%= form_image.remove_nested_fields_link class: 'btn btn-danger' do %>
              <%= fa_icon 'minus-circle ', class: 'fa-1x' %>
            <% end %>
          </div>
        <% end %>
        <%= form.add_nested_fields_link :image_products, class: 'btn btn-primary' do %>
          <%= fa_icon 'plus-circle ', class: 'fa-1x', text: "Добавить изображение" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div id="direct_upload" class="basic_form">
      <h2>Прикрепить фото</h2>
        <div class="form_line">
          <%= form.label :image, "Image:" %>
          <div class="form_controls">
            <div class="upload_button_holder">
              <% if @unsigned %>
                <%= form.cl_unsigned_image_upload(:image, @preset_name) %>
              <% else %>
                <%= form.cl_image_upload(:image, :return_delete_token=>true) %>
              <% end %>
            </div>
            <span class="status"></span>
          </div>
        </div>
        <div class="form_line">
          <div class="form_controls">
            <div class="preview"></div>
          </div>
        </div>
        <br>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="actions">
        <%= form.submit("Завершить", class: 'btn btn-success')%>
      </div>
      <%= form.hidden_field :bytes %>
      <%= hidden_field_tag :direct, params[:direct] %>
    </div>
  </div>
<% end %>

<!-- Configure Cloudinary jQuery plugin -->
<%= cloudinary_js_config %>

<script>
  $(document).ready(function() {
    $(".cloudinary-fileupload")
      .cloudinary_fileupload({
        dropZone: "#direct_upload",
        start: function (e) {
          $(".status").text("Starting upload...");
        },
        progress: function (e, data) {
          $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
        },
        fail: function (e, data) {
          $(".status").text("Upload failed");
        }
      })
      .off("cloudinarydone").on("cloudinarydone", function (e, data) {
        $("#photo_bytes").val(data.result.bytes);
        $(".status").text("");
        var preview = $(".preview").html('');
        $.cloudinary.image(data.result.public_id, {
          format: data.result.format, width: 200, height: 200, crop: "fit"
        }).appendTo(preview);

        $('<a/>').
          addClass('delete_by_token').
          attr({href: '#'}).
          data({delete_token: data.result.delete_token}).
          html('&times;').
          appendTo(preview).
          click(function(e) {
            e.preventDefault();
            $.cloudinary.delete_by_token($(this).data('delete_token')).done(function(){
              $('.preview').html('');
              $('#info').html('');
              $("#photo_bytes").val('');
              $('input[name="photo[image]"]').remove();
            }).fail(function() {
              $('.status').text("Cannot delete image");
          });
        });
        view_upload_details(data.result);
      });
    });

    function view_upload_details(upload) {
      // Build an html table out of the upload object
      var rows = [];
      $.each(upload, function(k,v){
        rows.push(
          $("<tr>")
            .append($("<td>").text(k))
            .append($("<td>").text(JSON.stringify(v))));
      });
      $("#info").html(
        $("<div class=\"upload_details\">")
          .append("<h2>Upload metadata:</h2>")
          .append($("<table>").append(rows)));
    }
    $('.cloudinary-fileupload').bind('fileuploadchange', function() { $(this).hide()})

  $(document).on('ready page:load', function () {
    $(".image_product_upload_previewimg").hide();
    var preview = $(".image_product_upload_preview img");
  
    $(".image_product_upload").change(function(event){
      var input = $(event.currentTarget);
      var profile_upload = input[0].files[0];
      var reader = new FileReader();
      reader.onload = function(e){
        image_base64 = e.target.result;
        preview.show();
        preview.attr("src", image_base64);
      };
      reader.readAsDataURL(profile_upload);
    });
  });
  $(function(){
    $("#product_material_another").change(function(){
    if($("#product_material_another").prop("checked") == true){
      $("#other_desc").prop("disabled", false);
    }else{
      $("#other_desc").prop("disabled", true);
    }
    });
  });
</script>
