<%= form_with(model: product, local: true) do |form| %>
  <div class="row">
    <div class="col-md-4">
      <%= render 'error', product: product %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-xs-12 product_form_column">
      <div class="field">
        <%= form.label(:title, "Название") %>
        <%= form.text_field :title, id: :product_title, class: 'form-control', required: true %>
      </div>
      <div class="field">
        <%= form.label(:title, "Категория") %>
        <%= form.select :category_id, Category::CATEGORIES_SELECT, {},  class: 'form-control pull-right', id: :category_id %>
      </div>
      <div class="field">
        <%= form.label(:size_a, "Длина (мм)") %>
        <%= form.number_field :size_a, id: :product_size_a, class: 'form-control', min: 0 %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:size_b, "Ширина (мм)") %>
        <%= form.number_field :size_b, id: :product_size_b, class: 'form-control', min: 0  %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:size_h, "Висота (мм)") %>
        <%= form.number_field :size_h, id: :product_size_h, class: 'form-control', min: 0  %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:purchase_price, "Цена закупки ₴") %>
        <%= form.text_field :purchase_price, id: 'price_pur', :step => 0.01, class: 'form-control form-control-count', min: 0  %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:mark_up, "Наценка %") %>
        <%= form.text_field :mark_up, id: 'markups', class: 'form-control form-control-count', min: 0  %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:discount, "Скидка %") %>
        <%= form.text_field :discount, id: 'discount', min: 0, class: 'form-control form-control-count' %>
        <p>
      </div>
      <div class="field">
        <tr>
          <td><%= form.label(:price, "Цена (грн)", title: "когда меняем любое из значений: цена закупки наценка скидка то пересчитывает конечную цену вне зависимости от того какая сейчас стоит") %></td>
          <td><%= form.text_field :price, class: 'form-control-count form-control', min: 0, id: "sum"  %></td>
        </tr>
        <p></p>
      </div>
      <div class="field">
        <%= form.label(:weight, "Вес (г)") %>
        <%= form.number_field :weight, id: :product_weight, :step => 0.01, min: 0, class: 'form-control' %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:brand, "Бренд") %>
        <%= form.text_field :brand, id: :product_brand, class: 'form-control' %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:supplier, "Поставщик") %>
        <%= form.text_field :supplier, id: :product_supplier, class: 'form-control' %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:quantity, "Количество") %>
        <%= form.number_field :quantity, id: :product_quantity, min: 0, class: 'form-control' %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:country, "Страна") %>
        <%= form.text_field :country, id: :product_country, class: 'form-control' %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:product_code, "Код") %>
        <%= form.text_field :product_code, id: :product_product_code, class: 'form-control' %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:min_age, "Минимальный возраст (лет)") %>
        <%= form.number_field :min_age, id: :min_age, min: 0, class: 'form-control' %>
        <p>
      </div>
      <div class="field">
        <%= form.label(:min_age, "Максимальный возраст (лет)") %>
        <%= form.number_field :max_age, id: :max_age, min: 0, class: 'form-control' %>
        <p>
      </div>
    </div>
    <div class="col-md-5 col-xs-12 ">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <%= form.label(:description, "Описание") %>
          <%= form.trix_editor :description, rows: 6, id: :product_description, placeholder: 'Добавить описание' %>
        </div>
        <div class="col-md-12 col-xs-12 product_form_column">
          <div class="row">
            <h3>Для какого пола предназначена</h3>
            <div class="col-md-6 col-xs-12">
              <%= form.select :sex_id, options_from_collection_for_select(Sex.all, :id, :name), {},  class: 'form-control pull-righ' %>
            </div>
          </div>
          <div class="row">
            <h3>Цвет</h3>
            <div class="field col-md-1 col-xs-2">
              <%= form.label(:color_white) do %>
                <div class="square white-square"></div>
              <% end %>
              <%= form.check_box :color_white, id: :product_color_white %>
            </div>
            <div class="field col-md-1 col-xs-2">
              <%= form.label(:color_black) do %>
                <div class="square black-square"></div>
              <% end %>
              <%= form.check_box :color_black, id: :product_color_black %>
            </div>
            <div class="field col-md-1 col-xs-2">
              <%= form.label(:color_red) do %>
                <div class="square red-square"></div>
              <% end %>
              <%= form.check_box :color_red, id: :product_color_red %>
            </div>
            <div class="field col-md-1 col-xs-2">
              <%= form.label(:color_yellow) do %>
                <div class="square yellow-square"></div>
              <% end %>
              <%= form.check_box :color_yellow, id: :product_color_yellow %>
            </div>
            <div class="field col-md-1 col-xs-2">
              <%= form.label(:color_green) do %>
                <div class="square green-square"></div>
              <% end %>
              <%= form.check_box :color_green, id: :product_color_green %>
            </div>
            <div class="field col-md-1 col-xs-2">
              <%= form.label(:color_blue) do %>
                <div class="square blue-square"></div>
              <% end %>
              <%= form.check_box :color_blue, id: :product_color_blue %>
            </div>
            <div class="field col-md-1 col-xs-2">
              <%= form.label(:color_violet, "Фиолетовый") do %>
                <div class="square violet-square"></div>
              <% end %>
              <%= form.check_box :color_violet, id: :product_color_violet %>
            </div>
          </div>
          <div class="row">
            <h3>Материал</h3>
            <div class="field col-md-4 col-xs-4">
              <%= form.label(:material_plastic, "Пластик") %>
              <%= form.check_box :material_plastic, id: :product_material_plastic %>
            </div>
            <div class="field col-md-4 col-xs-4">
              <%= form.label(:material_iron, "Железо") %>
              <%= form.check_box :material_iron, id: :product_material_iron %>
            </div>
            <div class="field col-md-4 col-xs-4">
              <%= form.label(:material_wooden, "Дерево") %>
              <%= form.check_box :material_wooden, id: :product_material_wooden %>
            </div>
          </div>
          <div class="row">
            <div class="field col-md-4 col-xs-4">
              <%= form.label(:material_fabric, "Ткань") %>
              <%= form.check_box :material_fabric, id: :product_material_fabric %>
            </div>
            <div class="field col-md-4 col-xs-4">
              <%= form.label(:mixed, "Смешаный") %>
              <%= form.check_box :mixed, id: :mixed %>
            </div>
            <div class="field col-md-4 col-xs-4">
              <%= form.label(:material_another, "Другой") %>
              <%= form.check_box :material_another, id: :product_material_another %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="field col-md-8">
              <%= form.text_field :other_desc, id: :other_desc, class: 'form-control', disabled: true, placeholder: 'Введите название материала' %>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="col-md-12 col-xs-12">
        <h3>Дополнительные изображения</h3>
        <%= form.nested_fields_for :image_products do |form_image| %>
          <div class="col-md-9 col-xs-9">
            <%= form_image.file_field :image, class: 'image_product_upload' %>
          </div>
          <div class="col-md-3 col-xs-3">
            <%= form_image.remove_nested_fields_link class: 'btn btn-danger' do %>
              <%= fa_icon 'minus-circle ', class: 'fa-1x' %>
            <% end %>
          </div>
        <% end %>
        <%= form.add_nested_fields_link :image_products, class: 'btn btn-primary' do %>
          <%= fa_icon 'plus-circle ', class: 'fa-1x', text: "Добавить изображение" %>
        <% end %>
        <p>
      </div>
      <div class="col-md-12 col-xs-12">
        <% @image_products.each do |image_prod| %>
          <% if image_prod.present? %>
            <div class="col-md-2 col-xs-2">
              <%= image_tag image_prod.image.url(:thumbnail) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="col-md-3 col-xs-12">
      <div id="direct_upload" class="basic_form">
      <h2>Прикрепить фото</h2>
        <div class="form_line">
          <%= form.label :image, "Главная картинка:" %>
          <div class="form_controls">
            <div class="upload_button_holder">
              <% if @product.image.present? %>
                <%= image_tag @product.image.url(:thumbnail) %><br/>
              <% end %>
              <%= form.file_field(:image) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-9 col-xs-12">
      <div class="actions">
        <%= form.submit("Завершить", class: 'btn btn-success')%>
        <%= link_to 'Назад', products_path, class: 'pull-right btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

