<div class="modal" id="image_<%= product.id %>" data-backdrop="false" role="dialog">
	<div class="modal-dialog modal-lg-add-image">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close_modal_<%= product.id %>" aria-hidden="true">×</button>
          <h4 class="modal-title"><%= product.title %></h4>
        </div><div class="container"></div>
        <div class="modal-body" align='center'>
          <%= image_tag product.image.url(:medium) %>
        </div>
      </div>
    </div>
</div>
<script>
  $(".close_modal_<%= product.id %>").click(function(){
    $("#image_<%= product.id %>").toggle();
  });
</script>
