<div class="row">
  <div class="col-xs-10">
    <div class="dropdown">
      <button class="btn btn-sorting dropdown-toggle" type="button" data-toggle="dropdown">
        <%= t('products.sort.sort_by') %>
      </button>
      <ul class="dropdown-menu">
        <%= render 'shared/sorting_parametrs' %>
      </ul>
    </div>
  </div>
  <div class="col-xs-2">
    <%= link_to root_path do %>
      <%= fa_icon 'share', class: 'fa-2x' %>
    <% end %>
  </div>
</div>
<h1><%= t('all_products') %></h1>
<div class="row">
  <% @products.paginate(page: params[:page], per_page: 12).each do |product| %>
    <div class="col-xs-10 col-xs-offset-1  product_view_class product_<%= product.id %>">
      <%= render  partial: "products/product", locals: { product: product } %>
      <%= button_to product_line_items_path(product.id), class: "buttom_add_to_cart", remote: true do %>
        <%= fa_icon 'cart-plus', text: t('products.add_to_cart') %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <center>
    <%= will_paginate @products.paginate(page: params[:page], per_page: 12), renderer: BootstrapPagination::Rails, previous_label: '<=', next_label:'=>' %>
  </center>
</div>
