<table class="table-striped table products-parametrs">
  <thead>
    <tr>
      <td colspan="2"><h3><%= @product.title %></h3></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th style="width:15%">Категория</th>
      <td><%= @product.category.name %></td>
    </tr>
    <% if @product.product_code.present? %>
      <tr>
        <th>Код</th>
        <td><%= @product.product_code %></td>
      </tr>
    <% end %>
    <% if @product.brand.present? %>
      <tr>
        <th>Бренд:</th>
        <td><%= @product.brand %></td>
      </tr>
    <% end %>
    <% if @product.supplier.present? %>
      <tr>
        <th>Поставщик</th>
        <td><%= @product.supplier %></td>
      </tr>
    <% end %>
    <tr>
      <th>Габариты</th>
      <td>
        <% if @product.size_a.present? %>
          <i>Длина: </i><%= @product.size_a %> мм<p>
        <% end %>
        <% if @product.size_b.present? %>
          <i>Ширина: </i><%= @product.size_b %> мм<p>
        <% end %>
        <% if @product.size_h.present? %>
          <i>Высота: </i><%= @product.size_h %> мм<p>
        <% end %>
        <% if @product.weight.present? %>
          <i>Вес: </i><%= @product.weight %> г
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Цена</th>
      <td>
        <% if @product.discount != 0 %>
          <s><%= number_to_currency(@product.old_price, locale: :ru)%></s>
          <p class='text-danger discount-price-table'><%= number_to_currency(@product.price, locale: :ru)%></p>
        <% else %>
          <%= number_to_currency(@product.price, locale: :ru)%>
        <% end %>
      </td>
    </tr>
    <% if current_user.try(:admin) %>
      <tr>
        <th>Цена закупки</th>
        <td><%= number_to_currency(@product.purchase_price, locale: :ru) %></td>
      </tr>
      <tr>
        <th>Наценка</th>
        <td><%= number_to_percentage(@product.mark_up, precision: 0) %></td>
      </tr>
    <% end %>
    <tr>
      <th>Цвета</th>
      <td>
        <% if @product.color_white? %>
          <div class="col-md-1">
            <div class="square white-square" title='Белый'></div>
          </div>
        <% end %>
        <% if @product.color_black? %>
          <div class="col-md-1">
            <div class="square black-square" title='Чёрный'></div>
          </div>
        <% end %>
        <% if @product.color_red? %>
          <div class="col-md-1">
            <div class="square red-square" title='Красный'></div>
          </div>
        <% end %>
        <% if @product.color_yellow? %>
          <div class="col-md-1">
            <div class="square yellow-square" title='Желтый'></div>
          </div>
        <% end %>
        <% if @product.color_green? %>
          <div class="col-md-1">
            <div class="square green-square" title='Зелёный'></div>
          </div>
        <% end %>
        <% if @product.color_blue? %>
          <div class="col-md-1">
            <div class="square blue-square" title='Синий'></div>
          </div>
        <% end %>
        <% if @product.color_violet? %>
          <div class="col-md-1">
            <div class="square violet-square" title='Фиолетовый'></div>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Материал</th>
      <td>
        <%= material_plastic_present %>
        <%= material_iron_present %>
        <%= material_wooden_present %>
        <%= material_fabric_present %>
        <%= material_mixed_present %>
        <%= material_another_present %>
      </td>
    </tr>
    <% if @product.quantity.present? %>
      <tr>
        <th>Количество</th>
        <td><%= @product.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
