<!-- <p id="notice"><%= notice %></p> -->


<main>
  <aside>
    <%= link_to 'Добавить товар', new_product_path %><br>
    Подбор по параметрам
    <%= form_tag({controller: "products", action: "index"}, method: :get) do %>
      <div class="row">
        <hr>
        <p>Пол</p>
        <div class="col-md-6">
          <p><%= check_box_tag :boys, :true, :false, :class => "boys" %>Мальчики</p>
        </div>
        <div class="col-md-6">
          <p><%= check_box_tag :girls, :true, :false, :class => "girls" %>Девочки</p>
        </div>
      </div>
      <div class="row">
        <hr>
        <p>Цвет</p>
        <div class="col-md-6">
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_white" %>Белый</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Желтый</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_green" %>Зеленый</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_violet" %>Фиолетовый</p>
        </div>
        <div class="col-md-6">
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_black" %>Черный</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_red" %>Красный</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_blue" %>Синий</p>
        </div>
      </div>
      <div class="row">
        <hr>
        <p>Материал</p>
        <div class="col-md-6">
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Пластик</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Дерево</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Другой</p>
        </div>
        <div class="col-md-6">
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Железо</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Ткань</p>
        </div>
      </div>
      <%= submit_tag 'Искать', title: nil  %>
    <% end %>
  </aside>
  <article>
    <% if @newest_ten_products.any? %>
      <div class="carousel_multiple">
        <h1>Новинки</h1>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="carousel slide multi-item-carousel" id="theCarousel">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <% @newest_ten_products.limit(4).each do |newest_first_four_products| %>
                      <div class="col-sm-3 col-xs-3 product_image">
                        <%= link_to newest_first_four_products do %>
                          <% if newest_first_four_products.image_url %>
                            <%= cl_image_tag(newest_first_four_products.image_url(:standard, :radius => 10), :alt => newest_first_four_products.title.mb_chars.capitalize.to_s, :title => newest_first_four_products.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= newest_first_four_products.title.mb_chars.capitalize.to_s %></p>
                        <% end %>
                        <%= button_to 'Добавить в Корзину', line_items_path(product_id: newest_first_four_products) %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <% if @newest_ten_products.limit(4).offset(4).any? %>
                  <div class="item">
                    <div class="row">
                      <% @newest_ten_products.last(4).each do |newest_last_four_products| %>
                        <div class="col-sm-3 col-xs-3"><a href="#1">
                          <% if newest_last_four_products.image_url %>
                            <%= cl_image_tag(newest_last_four_products.image_url(:standard, :radius => 10), :alt => newest_last_four_products.title.mb_chars.capitalize.to_s, :title => newest_last_four_products.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= newest_last_four_products.title.mb_chars.capitalize.to_s %></p></a>
                        <%= button_to 'Добавить в Корзину', line_items_path(product_id: newest_last_four_products) %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                
                <!--  Example item end -->
              </div>
              <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
              <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- special offers carousel -->

    <% if @products_wth_special_offers.any? %>
      <div class="carousel_multiple">
        <h1>Акции &amp; Скидки</h1>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="carousel slide multi-item-carousel" id="theCarousel_special">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <% @products_wth_special_offers.limit(4).each do |wth_special_offers_row| %>
                      <div class="col-sm-3 col-xs-3 product_image"><a href="#1">
                        <% if wth_special_offers_row.image_url %>
                          <%= cl_image_tag(wth_special_offers_row.image_url(:standard, :radius => 10), :alt => wth_special_offers_row.title.mb_chars.capitalize.to_s, :title => wth_special_offers_row.title.mb_chars.capitalize.to_s) %>
                        <% else %>
                          <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                        <% end %>
                        <p><%= wth_special_offers_row.title.mb_chars.capitalize.to_s %></p></a>
                        <%= button_to 'Добавить в Корзину', line_items_path(product_id: wth_special_offers_row) %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <% if @products_wth_special_offers.limit(4).offset(4).any? %>
                  <div class="item">
                    <div class="row">
                      <% @products_wth_special_offers.limit(4).offset(4).each do |wth_special_offers_row| %>
                        <div class="col-sm-3 col-xs-3"><a href="#1">
                          <% if wth_special_offers_row.image_url %>
                            <%= cl_image_tag(wth_special_offers_row.image_url(:standard, :radius => 10), :alt => wth_special_offers_row.title.mb_chars.capitalize.to_s, :title => wth_special_offers_row.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= wth_special_offers_row.title.mb_chars.capitalize.to_s %></p></a>
                          <%= button_to 'Добавить в Корзину', line_items_path(product_id: wth_special_offers_row) %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <% if @products_wth_special_offers.limit(4).offset(8).any? %>
                  <div class="item">
                    <div class="row">
                      <% @products_wth_special_offers.limit(4).offset(8).each do |wth_special_offers_row| %>
                        <div class="col-sm-3 col-xs-3"><a href="#1">
                          <% if wth_special_offers_row.image_url %>
                            <%= cl_image_tag(wth_special_offers_row.image_url(:standard, :radius => 10), :alt => wth_special_offers_row.title.mb_chars.capitalize.to_s, :title => wth_special_offers_row.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= wth_special_offers_row.title.mb_chars.capitalize.to_s %></p></a>
                          <%= button_to 'Добавить в Корзину', line_items_path(product_id: wth_special_offers_row) %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <% if @products_wth_special_offers.limit(4).offset(12).any? %>
                  <div class="item">
                    <div class="row">
                      <% @products_wth_special_offers.limit(4).offset(12).each do |wth_special_offers_row| %>
                        <div class="col-sm-3 col-xs-3"><a href="#1">
                          <% if wth_special_offers_row.image_url %>
                            <%= cl_image_tag(wth_special_offers_row.image_url(:standard, :radius => 10), :alt => wth_special_offers_row.title.mb_chars.capitalize.to_s, :title => wth_special_offers_row.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= wth_special_offers_row.title.mb_chars.capitalize.to_s %></p></a>
                          <%= button_to 'Добавить в Корзину', line_items_path(product_id: wth_special_offers_row) %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <% if @products_wth_special_offers.limit(4).offset(16).any? %>
                  <div class="item">
                    <div class="row">
                      <% @products_wth_special_offers.limit(4).offset(16).each do |wth_special_offers_row| %>
                        <div class="col-sm-3 col-xs-3"><a href="#1">
                          <% if wth_special_offers_row.image_url %>
                            <%= cl_image_tag(wth_special_offers_row.image_url(:standard, :radius => 10), :alt => wth_special_offers_row.title.mb_chars.capitalize.to_s, :title => wth_special_offers_row.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= wth_special_offers_row.title.mb_chars.capitalize.to_s %></p></a>
                          <%= button_to 'Добавить в Корзину', line_items_path(product_id: wth_special_offers_row) %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                
                <!--  Example item end -->
              </div>
              <a class="left carousel-control" href="#theCarousel_special" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
              <a class="right carousel-control" href="#theCarousel_special" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- top viewed carousel -->

    <% if @products_most_viewed.any? %>
      <div class="carousel_multiple">
        <h1>Хит Продаж</h1>
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="carousel slide multi-item-carousel" id="theCarousel_viewed">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row">
                    <% @products_most_viewed.limit(4).each do |products_most_viewed_row| %>
                      <div class="col-sm-3 col-xs-3 product_image"><a href="#1">
                        <% if products_most_viewed_row.image_url %>
                          <%= cl_image_tag(products_most_viewed_row.image_url(:standard, :radius => 10), :alt => products_most_viewed_row.title.mb_chars.capitalize.to_s, :title => products_most_viewed_row.title.mb_chars.capitalize.to_s) %>
                        <% else %>
                          <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                        <% end %>
                        <p><%= products_most_viewed_row.title.mb_chars.capitalize.to_s %></p></a>
                      </div>
                    <% end %>
                  </div>
                </div>
                <% if @products_most_viewed.limit(4).offset(4).any? %>
                  <div class="item">
                    <div class="row">
                      <% @products_most_viewed.limit(4).offset(4).each do |products_most_viewed_row| %>
                        <div class="col-sm-3 col-xs-3"><a href="#1">
                          <% if products_most_viewed_row.image_url %>
                            <%= cl_image_tag(products_most_viewed_row.image_url(:standard, :radius => 10), :alt => products_most_viewed_row.title.mb_chars.capitalize.to_s, :title => products_most_viewed_row.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= products_most_viewed_row.title.mb_chars.capitalize.to_s %></p></a>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <% if @products_most_viewed.limit(4).offset(8).any? %>
                  <div class="item">
                    <div class="row">
                      <% @products_most_viewed.limit(4).offset(8).each do |products_most_viewed_row| %>
                        <div class="col-sm-3 col-xs-3"><a href="#1">
                          <% if products_most_viewed_row.image_url %>
                            <%= cl_image_tag(products_most_viewed_row.image_url(:standard, :radius => 10), :alt => products_most_viewed_row.title.mb_chars.capitalize.to_s, :title => products_most_viewed_row.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= products_most_viewed_row.title.mb_chars.capitalize.to_s %></p></a>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <% if @products_most_viewed.limit(4).offset(12).any? %>
                  <div class="item">
                    <div class="row">
                      <% @products_most_viewed.limit(4).offset(12).each do |products_most_viewed_row| %>
                        <div class="col-sm-3 col-xs-3"><a href="#1">
                          <% if products_most_viewed_row.image_url %>
                            <%= cl_image_tag(products_most_viewed_row.image_url(:standard, :radius => 10), :alt => products_most_viewed_row.title.mb_chars.capitalize.to_s, :title => products_most_viewed_row.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= products_most_viewed_row.title.mb_chars.capitalize.to_s %></p></a>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <% if @products_most_viewed.limit(4).offset(16).any? %>
                  <div class="item">
                    <div class="row">
                      <% @products_most_viewed.limit(4).offset(16).each do |products_most_viewed_row| %>
                        <div class="col-sm-3 col-xs-3"><a href="#1">
                          <% if products_most_viewed_row.image_url %>
                            <%= cl_image_tag(products_most_viewed_row.image_url(:standard, :radius => 10), :alt => products_most_viewed_row.title.mb_chars.capitalize.to_s, :title => products_most_viewed_row.title.mb_chars.capitalize.to_s) %>
                          <% else %>
                            <%= cl_image_tag("imgonline-com-ua-Resize-gscuXH3dcq_mgrit0.png", :effect=>"grayscale", :quality=>50, :width=>100, :crop=>"scale", :alt => "Нет изображения для этого товара", :title => "Нет изображения для этого товара") %>
                          <% end %>
                          <p><%= products_most_viewed_row.title.mb_chars.capitalize.to_s %></p></a>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                
                <!--  Example item end -->
              </div>
              <a class="left carousel-control" href="#theCarousel_viewed" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
              <a class="right carousel-control" href="#theCarousel_viewed" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% cache ['products', Product.latest] do %>
      <% if @products then @products.each do |product| %>
        <% cache ['entry', product] do %>
            <div class="row">
              <div class="col-md-4">
                <%= link_to product.title, product %>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <h1>Товары</h1>

    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Длина</th>
          <th>Ширина</th>
          <th>Высота</th>
          <th>Цена закупки</th>
          <th>Наценка</th>
          <th>Цена</th>
          <th>Вес</th>
          <th>Мальчики</th>
          <th>Девочки</th>
          <th>Белый</th>
          <th>Черный</th>
          <th>Красный</th>
          <th>Желтый</th>
          <th>Зеленый</th>
          <th>Синий</th>
          <th>Фиолетовый</th>
          <th>Бренд</th>
          <th>Пластик</th>
          <th>Железо</th>
          <th>Другой материал</th>
          <th>Дерево</th>
          <th>Ткань</th>
          <th>Поставщик</th>
          <th>Количество</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%  if @products then @products.each do |product| %>
            <tr>
              <td><%= link_to product.title, product %></td>
              <td><%= product.size_a %></td>
              <td><%= product.size_b %></td>
              <td><%= product.size_h %></td>
              <td><%= number_to_currency(product.purchase_price, unit: "₴") %></td>
              <td><%= number_to_percentage(product.mark_up, precision: 0) %></td>
              <td><%= number_to_currency(product.price, unit: "₴") %></td>
              <td><%= product.weight %></td>
              <td><%= product.boys %></td>
              <td><%= product.girls %></td>
              <td><%= product.color_white %></td>
              <td><%= product.color_black %></td>
              <td><%= product.color_red %></td>
              <td><%= product.color_yellow %></td>
              <td><%= product.color_green %></td>
              <td><%= product.color_blue %></td>
              <td><%= product.color_violet %></td>
              <td><%= product.brand %></td>
              <td><%= product.material_plastic %></td>
              <td><%= product.material_iron %></td>
              <td><%= product.material_another %></td>
              <td><%= product.material_wooden %></td>
              <td><%= product.material_fabric %></td>
              <td><%= product.supplier %></td>
              <td><%= product.quantity %></td>
              <td><%= link_to 'Показать', product %></td>
              <td><%= link_to 'Редактировать', edit_product_path(product) %></td>
              <td><%= link_to 'Удалить', product, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </article>
</main>
              