<!-- <p id="notice"><%= notice %></p> -->


<main>
  <aside>
    <%= link_to 'Добавить товар', new_product_path %><br>
    Подбор по параметрам
    <%= form_tag({controller: "products", action: "index"}, method: :get) do %>
      <div class="row">
        <hr>
        <p>Пол</p>
        <div class="col-md-6">
          <p><%= check_box_tag :boys, :true, :false, :class => "boys" %>Мальчики</p>
        </div>
        <div class="col-md-6">
          <p><%= check_box_tag :girls, :true, :false, :class => "girls" %>Девочки</p>
        </div>
      </div>
      <div class="row">
        <hr>
        <p>Цвет</p>
        <div class="col-md-6">
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_white" %>Белый</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Желтый</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_green" %>Зеленый</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_violet" %>Фиолетовый</p>
        </div>
        <div class="col-md-6">
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_black" %>Черный</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_red" %>Красный</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_blue" %>Синий</p>
        </div>
      </div>
      <div class="row">
        <hr>
        <p>Материал</p>
        <div class="col-md-6">
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Пластик</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Дерево</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Другой</p>
        </div>
        <div class="col-md-6">
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Железо</p>
          <p><%= check_box_tag :color_yellow, :true, :false, :class => "color_yellow" %>Ткань</p>
        </div>
      </div>
      <%= submit_tag 'Искать', title: nil  %>
    <% end %>
  </aside>
  <article>
    <%= render  partial: "products/carousel_full", locals: { some_array_of_products: @newest_ten_products, rows_count: 2, id_of_this_carousel: "newest_carousel", name_of_carousel: "Новинки"  } %>

    <!-- special offers carousel -->
    
    <%= render  partial: "products/carousel_full", locals: { some_array_of_products: @products_wth_special_offers, rows_count: 5, id_of_this_carousel: "offers_carousel", name_of_carousel: "Акции" } %>
    
    <!-- top viewed carousel -->

    <%= render  partial: "products/carousel_full", locals: { some_array_of_products: @products_most_viewed, rows_count: 5, id_of_this_carousel: "top_viewed_carousel", name_of_carousel: "Популярные" } %>

    <!-- all products -->

    <%= render  partial: "products/all_products_div", locals: { some_array_of_products: @products, rows_count: @products_count, name_of_div: "Все Товары" } %>

  </article>
</main>
              