<h1></h1>
<main>
  <aside class="sticky search_multiple_form">
    <div id="search_multiple_form">
      <%= render "searches/new" %>
    </div>
    <br>
    <%= render 'categories/sidebar_category' %>
  </aside>
  <article class='article_products'>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        <%= t('products.sort.sort_by') %>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to t('products.sort.first_cheap'), sort: 'price', order_type: 'ASC' %></li>
        <li><%= link_to t('products.sort.first_expensive'), sort: 'price', order_type: 'DESC' %></li>
        <li><%= link_to t('products.sort.first_new'), sort: 'created_at', order_type: 'ASC' %></li>
        <li><%= link_to t('products.sort.first_old'), sort: 'created_at', order_type: 'DESC' %></li>
        <li><%= link_to t('products.sort.first_with_offer'), sort: 'discount', order_type: 'DESC' %></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('all_products') %></h1>
        <div id="products">
          <%= render 'products' %>
        </div>
      </div>
    </div>
  </article>
</main>

<div class="mobile" name="top">
  <!-- This is the container enabling the JavaScript -->
  <div class="uk-button-dropdown" data-uk-dropdown="{justify:'.mobile'}">
    <!-- This is the element toggling the dropdown -->
    <button class="mobile_search_button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    <div class="uk-dropdown">
      <%= render "searches/new" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Все товары</h1>
      <div id="products_mobile">
        <%= render 'products_mobile' %>
      </div>
    </div>
  </div>

</div>
<a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
