<% title t('all_products') %>
<main>
  <aside class="sticky search_multiple_form">
    <div id="search_multiple_form">
      <%= render "searches/new" %>
    </div>
    <br>
    <%= render 'categories/sidebar_category' %>
  </aside>
  <article class='article_products'>
    <div class="dropdown">
      <button class="btn btn-sorting dropdown-toggle" type="button" data-toggle="dropdown">
        <%= t('products.sort.sort_by') %>
      </button>
      <ul class="dropdown-menu">
        <%= render 'shared/sorting_parametrs' %>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1><%= t('all_products') %></h1>
        <div id="products">
          <%= render 'products' %>
        </div>
      </div>
    </div>
  </article>
</main>

<div class="mobile" name="top">
  <%= render 'shared/button_mobile' %>

  <div class="row">
    <div class="col-md-12">
      <div id="products_mobile">
        <%= render 'products_mobile' %>
      </div>
    </div>
  </div>

</div>
<a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
