<h1></h1>
<main>
  <aside class="sticky search_multiple_form">
    <div id="search_multiple_form">
      <%= render "searches/new" %>
    </div>
    <br>
    <div class="category-lists">
      <%= render 'categories/sidebar_category', cached: true %>
    </div>
  </aside>
  <article class='article_products'>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h1>Все товары</h1>
        <div id="products">
          <div class="row">
            <% @products_with_special_offers.each do |product| %>
              <div class="col-sm-3 col-xs-3 product_view_class product_view_class_all">
                <%= render  partial: "products/product", locals: { product: product } %>
                <%= button_to 'В Корзину', product_line_items_path(product.id), :class => "buttom_add_to_cart" %>
              </div>
            <% end %>
          </div>
          <div class="row">
            <center>
              <%= will_paginate @products_with_special_offers, renderer: BootstrapPagination::Rails, previous_label: '<=', next_label:'=>' %>
            </center>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>

<div class="mobile" name="top">
  <!-- This is the container enabling the JavaScript -->
  <div class="uk-button-dropdown" data-uk-dropdown="{justify:'.mobile'}">
    <!-- This is the dropdown -->
    <button class="mobile_search_button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    <div class="uk-dropdown">
      <%= render  partial: "searches/new" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Все товары</h1>
      <div id="products_mobile">
        <div id="products">
          <div class="row">
            <% @products_with_special_offers.each do |product| %>
              <div class="col-xs-12 product_view_class product_view_class_all">
                <%= render  partial: "products/product", locals: { product: product } %>
                <%= button_to 'В Корзину', product_line_items_path(product.id), :class => "buttom_add_to_cart" %>
              </div>
            <% end %>
          </div>
          <div class="row">
            <center>
              <%= will_paginate @products_with_special_offers.paginate(page: params[:page], per_page: 12), renderer: BootstrapPagination::Rails, previous_label: '<=', next_label:'=>' %>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<a href="#0" class="cd-top"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
