<div class="row">
  <div class="goods">
    <div class="row equal">
      <div class="col-md-4">
        <p class="goods_title">
          <%= @product.title %>
        </p>
      </div>
      <div class="col-md-4 goods_col left">
        <p>
          <b>Категория:</b>
          <%= @product.category.name %>
        </p>
        <p>
          <strong>Пол:</strong>
          <%= @product.sex.name %>
          <% if @product.boys %>
            <%= fa_icon 'mars-stroke', class: 'fa-2x sex-boys', alt: 'Мальчики', title: "Для мальчиков" %>
          <% end %>
          <% if @product.girls %>
            <%= fa_icon 'venus', class: 'fa-2x sex-girls', alt: 'Девочки', title: "Для девочек" %>
          <% end %>
        </p>
        <p>
          <strong>Категория:</strong>
          <%= @product.general_category %>
        </p>
        <p>
          <strong>Бренд:</strong>
          <%= @product.brand %>
        </p>
        <p>
          <strong>Страна:</strong>
          <%= @product.country %>
        </p>
        <p>
          <strong>Минимальный возраст:</strong>
          <%= @product.min_age %>
        </p>
        <p>
          <strong>Максимальный возраст:</strong>
          <%= @product.max_age %>
        </p>
        <% if current_user.try(:admin) %>
          <%= link_to 'Редактировать', edit_product_path(@product) %> |
        <% end %>
        <%= link_to 'Назад к списку товаров', products_path %>
      </div>
      <div class="col-md-4 goods_col image">
        <div class="col-md-12" id="slider">
          <div class="row">
            <div class="col-sm-12" id="carousel-bounding-box">
              <div class="carousel slide carousel-product" id="myCarousel">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item" data-slide-number="0">
                    <% if @product.image.present? %>
                      <img id="main_avatar" src="<%= @product.image_url(:large) %>" data-zoom-image="<%= @product.image_url(:large) %>", class='img-thumbnail profile-avatar'/>
                    <% else %>
                        <%= image_tag( @product.image_url(:medium), width: '470px', height: '480px') %>
                    <% end %>
                  </div>
                  <% @product.image_products.each_with_index do |im_prod, i| %>
                    <div class="item" data-slide-number="<%= (i+1) %>"">
                      <img id="image_<%= im_prod.id %>" src="<%= im_prod.image.url(:large) %>" data-zoom-image="<%= im_prod.image.url(:large) %>", class='img-thumbnail profile-avatar', width='470px', height='480px'/>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 goods_col right">
        <p><span class="uk-badge uk-badge-success">НОВИНКА!</span></p>
        <h2>
          <% if @product.discount != 0 %>
            <s><%= number_to_currency(@product.price, unit: "грн")%></s>
            <p class='label label-success'><%= number_to_currency(@product.discount_price, unit: "грн")%></p>
          <% else %>
            <%= number_to_currency(@product.price, unit: "грн")%>
          <% end %>
        </h2>
        <% if @product.discount != 0 %>
          <p>
            <span class="uk-badge uk-badge-notification uk-badge-danger">
              <strong>Скидка</strong>
              <%= number_to_percentage(@product.discount, precision: 0) %>
            </span>
          </p>
        <% end %>
        <p>
          <strong>Осталось на складе:</strong>
          <%= @product.quantity %>
        </p>
        <p>
          <strong>Код:</strong>
          <%= @product.product_code %>
        </p>
        <p><%= social_share_button_tag(@product.title) %></p>
        <p>
          <%= button_to product_line_items_path(@product.id), :class => "btn btn-danger" do %>
            <%= fa_icon 'cart-plus', text: 'В Корзину' %>
          <% end %>          
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="main_area">
      <div class="row">
        <div class="col-md-12 col-xs-12" id="slider-thumbs">
          <ul class="hide-bullets">
            <li class="col-sm-2 col-xs-6">
              <a class="thumbnail product_image_add" id="carousel-selector-0">
                <%= image_tag(@product.image_url(:medium), width: '150px', height: '150px') %>
              </a>
            </li>
            <% @product.image_products.each_with_index do |im_prod, i| %>
              <li class="col-sm-2 col-xs-6">
                <a class="thumbnail product_image_add" id="carousel-selector-<%= (i+1) %>">
                  <%= image_tag(im_prod.image.url(:thumb), width: '150px', height: '150px')%>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <button id="info-product" class='btn btn-block btn-default'>Больше информации</button>
      <br>
    </div>
  </div>
  <div class="row col-md-12 info-about-product">
    <div class="col-md-6">
      <%= render 'table_characters' %>
    </div>
    <div class="col-md-6">
      <h2>Описание</h2>
      <%= raw @product.description %>
    </div>
  </div>
</div>
<!-- <script>
  $("#main_avatar").elevateZoom();
  <% @product.image_products.each do |im_prod| %>
    $("#image_<%= im_prod.id %>").elevateZoom();
  <% end %>
</script> -->
<script>
  jQuery(document).ready(function($) {
    $('#myCarousel').carousel({
       interval: 15000
    });
        //Handles the carousel thumbnails
    $('[id^=carousel-selector-]').click(function () {
      var id_selector = $(this).attr("id");
      try {
          var id = /-(\d+)$/.exec(id_selector)[1];
          console.log(id_selector, id);
          jQuery('#myCarousel').carousel(parseInt(id));
      } catch (e) {
          console.log('Regex failed!', e);
      }
    });
    // When the carousel slides, auto update the text
    $('#myCarousel').on('slid.bs.carousel', function (e) {
             var id = $('.item.active').data('slide-number');
            $('#carousel-text').html($('#slide-content-'+id).html());
    });
  });
</script>