  <div class="goods">
    <div class="row equal">
      <div class="col-md-4 goods_col">
        <p class="goods_title">
          <%= @product.title %>
        </p>
        <p>
          <strong>Для мальчиков:</strong>
          <% if @product.boys %>
            Да
          <% end %>
        </p>

        <p>
          <strong>Для девочек:</strong>
          <% if @product.girls %>
            Да
          <% end %>
        </p>

        <p>
          <strong>Бренд:</strong>
          <%= @product.brand %>
        </p>
        <p>
          <strong>Страна:</strong>
          <%= @product.country %>
        </p>

      </div>
      <div class="col-md-4 goods_col image">
        <% if @product.image_url %>
          <%= cl_image_tag(@product.image_url(:standard, :radius => 10), :alt => @product.title) %>
        <% end %>
      </div>
      <div class="col-md-4 goods_col right">

        <% if @product.discount %>
          <p>
            <strong>Скидка:</strong>
            <%= number_to_percentage(@product.discount, precision: 0) %>
          </p>
        <% end %>
        <p>
          <strong>Цена:</strong>
          <%= number_to_currency(@product.price, unit: "₴") %>
        </p>
        <p>
          <strong>Осталось на складе:</strong>
          <%= @product.quantity %>
        </p>
        <p>
          <strong>Код:</strong>
          <%= @product.product_code %>
        </p>
        <p><%= social_share_button_tag(@product.title) %></p>
      </div>
    </div>
  </div>


<p>
  <strong>Название:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Длина:</strong>
  <%= @product.size_a %>
</p>

<p>
  <strong>Ширина:</strong>
  <%= @product.size_b %>
</p>

<p>
  <strong>Высота:</strong>
  <%= @product.size_h %>
</p>

<p>
  <strong>Цена закупки:</strong>
  <%= number_to_currency(@product.purchase_price, unit: "₴") %>
</p>

<p>
  <strong>Наценка:</strong>
  <%= number_to_percentage(@product.mark_up, precision: 0) %>
</p>

<p>
  <strong>Цена:</strong>
  <%= number_to_currency(@product.price, unit: "₴") %>
</p>

<p>
  <strong>Вес:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong>Мальчики:</strong>
  <%= @product.boys %>
</p>

<p>
  <strong>Девочки:</strong>
  <%= @product.girls %>
</p>

<p>
  <strong>Белый:</strong>
  <%= @product.color_white %>
</p>

<p>
  <strong>Черный:</strong>
  <%= @product.color_black %>
</p>

<p>
  <strong>Красный:</strong>
  <%= @product.color_red %>
</p>

<p>
  <strong>Желтый:</strong>
  <%= @product.color_yellow %>
</p>

<p>
  <strong>Зеленый:</strong>
  <%= @product.color_green %>
</p>

<p>
  <strong>Синий:</strong>
  <%= @product.color_blue %>
</p>

<p>
  <strong>Фиолетовый:</strong>
  <%= @product.color_violet %>
</p>

<p>
  <strong>Бренд:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Пластик:</strong>
  <%= @product.material_plastic %>
</p>

<p>
  <strong>Железо:</strong>
  <%= @product.material_iron %>
</p>

<p>
  <strong>Другой материал:</strong>
  <%= @product.material_another %>
</p>

<p>
  <strong>Дерево:</strong>
  <%= @product.material_wooden %>
</p>

<p>
  <strong>Ткань:</strong>
  <%= @product.material_fabric %>
</p>

<p>
  <strong>Поставщик:</strong>
  <%= @product.supplier %>
</p>

<p>
  <strong>Количество:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Страна:</strong>
  <%= @product.country %>
</p>

<p>
  <strong>Код:</strong>
  <%= @product.product_code %>
</p>

<p>
  <strong>Скидка:</strong>
  <%= @product.discount %>
</p>


<% if @product.image_url %>
  <p>
    <strong>Изображение:</strong>
    <%= cl_image_tag(@product.image_url(:thumbnail, :radius => 10), :alt => @product.title) %>
    <%= cl_image_tag(@product.image_url(:gray, :radius => 10), :alt => @product.title) %>
  </p>
  <%= link_to 'удалить изображение в облаке(в кеше остается)', Cloudinary::Uploader.destroy(@product.image_url, :invalidate => true) %><br>
<% end %>

<%= link_to 'Редактировать', edit_product_path(@product) %> |
<%= link_to 'Назад', products_path %>