<% if line_item == @current_item %>
  <ul id="current_item">
<% else %>
  <ul>
<% end %>
</ul>
<tbody>
  <tr id="line_<%= line_item.id %>">
    <td>
      <div class="row">
        <div class="col-sm-2 hidden-xs">
          <%= image_tag(line_item.product.image_url(:thumb), class: "img-responsive", title: "#{line_item.product.title}") %>
        </div>
        <div class="col-sm-10">
          <h4 class="nomargin"><%= link_to line_item.product.title.mb_chars.capitalize, product_path(line_item.product) %></h4>
          <div class="description-item">
            <p>
              <%= raw line_item.product.description.truncate(120) %>
            </p>
          </div>
        </div>
      </div>
    </td>
    <td data-th="<%= t('cart.product') %>">
      <%= number_to_currency(line_item.product.price, unit: "₴") %>
    </td>
    <td data-th="<%= t('cart.price') %>">
      <div class="count-item">
        <p>
          <%= link_to line_item_increase_quantity_url(line_item), method: :put do %>
            <%= fa_icon 'caret-square-o-up', class: 'fa-1x' %>
          <% end %>        
        </p>
        <p><%= line_item.quantity %></p>
        <p>
          <%= link_to line_item_decrease_quantity_url(line_item), method: :put do %>
            <%= fa_icon 'caret-square-o-down', class: 'fa-1x' %>
          <% end %>        
        </p>
      </div>
      <div class="count-item-mobile">
        <%= link_to line_item_decrease_quantity_url(line_item), method: :put do %>
          <%= fa_icon 'caret-square-o-left', class: 'fa-1x' %>
        <% end %>     
        <%= line_item.quantity %>  
        <%= link_to line_item_increase_quantity_url(line_item), method: :put do %>
          <%= fa_icon 'caret-square-o-right', class: 'fa-1x' %>
        <% end %>         
      </div>
    </td>
    <td data-th="Сумма" class="text-center">
      <%= number_to_currency(line_item.count_line_item_price, unit: "₴") %>
    </td>
    <td class="actions" data-th="">
      <%= link_to line_item, method: :delete, class: "btn btn-danger btn-sm" do %>
        <%= fa_icon 'trash-o', class: 'fa-2x' %>
      <% end %>               
    </td>
  </tr>
</tbody>
