<!DOCTYPE html>
<html>
  <head>
    <title>Мапапама</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>

  </head>

  <body>
    <div class="container-fluid">
      <div class="row top_container">
        <%= render 'shared/header_one' %>
      </div>
      <div class="row">
        <%= render 'shared/header_menu' %>
      </div>
      <div class="row">
        <br>
        <div class='col-md-4 col-md-offset-8'>
          <%- flash.each do |name, msg|%>
            <%= content_tag :div, msg, id: "flash_#{name}", class: 'alert alert-info message' %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class='col-md-4'>
          </div> 
          <%= yield %>
        </div>
      </div>
      <div class="row">
        <%= render 'shared/footer' %>
      </div>
    </div>  
  </body>
</html>
