<!DOCTYPE html>
<html>
  <head>
    <title>Тимка</title>
    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <!-- Custom styles for this project -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

  </head>

  <body>
    <div class="container-fluid">
      <div class="row top_container">
        <div class="col-md-4 top_container_left">
          <div class="row">
            <div class="col-md-6">
              <%= cl_image_tag("Тимка_ruelff.png", :height=>100, :quality=>24, :crop=>"scale") %>
            </div>
            <div class="col-md-2">
              <%= cl_image_tag("logo.png", :quality=>15, :width=>84, :crop=>"scale") %>
            </div>
<!--             <div class="col-md-2">
              <button type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
              </button>
            </div> -->
            <div class="col-md-4">
              <p>Тимка - это детская радость</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 top_container_center">
          <div class="row">
            <div>095 000 00 00</div>
            <div>068 000 00 00</div>
            <div>TimKa</div>
          </div>
        </div>
        <div class="col-md-4 top_container_right">
          <div class="row">
            <div class="col-md-8">
              <% if user_signed_in? %>
                <div role="presentation"><%= link_to "Вы вошли как #{current_user.email}", current_user %></div>
                <div role="presentation"><%= link_to "Редактировать профиль", edit_user_registration_path %></div>
                <div role="presentation"><%= link_to "Выйти", destroy_user_session_path, method: :delete %></div> 
              <% else %>
                <div role="presentation"><%= link_to "Регистрация", new_user_registration_path %></div>
                <div role="presentation"><%= link_to "Войти", new_user_session_path %></div> 
              <% end %>
              <p>Тут будет поиск</p>
              
              
            </div>
            <div class="col-md-4">
              <p>Корзина</p>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <ul class="nav nav-pills top_buttons_menu">
          <li role="presentation" class="active top_buttons_menu_button"><%= link_to "Главная", root_path %></li>
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "Пользователи", users_path %></li>
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "Товары", products_path %></li>
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "Оплата и доставка", payment_and_delivery_path %></li>
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "Полезные статьи", useful_articles_path %></li> 
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "Акции", special_offers_path %></li> 
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "Отзывы", comments_path %></li> 
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "Контакты", contacts_path %></li> 
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "О нас", about_path %></li> 
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "Конкурсы", competitions_path %></li> 
          <li role="presentation" class="top_buttons_menu_button"><%= link_to "Партнерам", partners_path %></li> 
        </ul>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <!--     <p class="notice"><%= notice %></p>--> 
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>  
  </body>
</html>
