<!DOCTYPE html>
<html>
  <head>
    <title>Тимка</title>
    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <!-- Custom styles for this project -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

  </head>

  <body>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><%= cl_image_tag("logo.png", :quality=>15, :width=>100, :crop=>"scale") %></li>
      <li role="presentation" class="active"><%= link_to "Главная", root_path %></li>
      <li role="presentation"><%= link_to "Пользователи", users_path %></li>
      <li role="presentation"><%= link_to "Товары", products_path %></li>
      <% if user_signed_in? %>
        <li role="presentation"><%= link_to "Вы вошли как #{current_user.email} Редактировать Профиль", edit_user_registration_path %></li>
        <li role="presentation"><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li> 
      <% else %>
        <li role="presentation"><%= link_to "Регистрация", new_user_registration_path %></li>
        <li role="presentation"><%= link_to "Войти", new_user_session_path %></li> 
      <% end %>
    </ul>
<!--     <p class="notice"><%= notice %></p>
 -->    <p class="alert"><%= alert %></p>
    <%= yield %>
    
  </body>
</html>
